@import "./_normalize.scss";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    background: #e5e5e5;
}

.heroBanner {
    height: 600px;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    .title {
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .subtitle {
        font-size: 1rem;
    }

    #map {
        height: 300px;
        width: 400px;
    }
}