/*--- Avanquest WebEasy Page Style ---*/


.cc21               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
div#e30             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  25.50pt;
	top             :  -1.50pt;
	width           : 714.00pt;
	height          : 738.00pt;
	}
div#e29             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  27.00pt;
	top             : 127.50pt;
	width           : 714.00pt;
	height          : 217.50pt;
	}
div#e28             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 729.75pt;
	top             :   7.50pt;
	width           :  11.25pt;
	height          : 112.50pt;
	}
div#e27             { /* Home */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 143.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e26            { /* images/album1008011.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1008011.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 164.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e25             { /* About Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 170.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e24            { /* images/album1008010.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1008010.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 191.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e23             { /* Registration */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 197.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e22            { /* images/album1008009.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1008009.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 218.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e21             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 224.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e20            { /* images/album1008008.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1008008.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 245.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e19             { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  36.75pt;
	top             : 280.50pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e18            { /* images/album1008007.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1008007.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 272.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
span#e17            { /* images/album1001012.gif */
	background      : transparent url(images/album1001012.gif) no-repeat top left;
	position        : absolute;
	left            : 479.25pt;
	top             : 157.50pt;
	width           : 255.00pt;
	height          : 184.50pt;
	}
h4#e16              { /* Race Day */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            :  35.25pt;
	top             : 362.25pt;
	width           : 151.50pt;
	height          :  15.75pt;
	}
h6#e15              { /* Follow us on Facebook   ... */
	position        : absolute;
	left            :  30.00pt;
	top             : 747.00pt;
	width           : 711.75pt;
	height          :  15.75pt;
	}
div#e14             { /* Registration will take p... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            :  31.50pt;
	top             : 393.00pt;
	width           : 328.50pt;
	height          : 137.25pt;
	}
div#e13             { /* Public car Parking is av... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 379.50pt;
	top             : 558.75pt;
	width           : 328.50pt;
	height          : 184.50pt;
	}
div#e12             {
	text-align      : left;
	position        : absolute;
	left            : 383.25pt;
	top             : 633.75pt;
	width           : 328.50pt;
	height          :  12.00pt;
	}
span#e11            { /* images/album1008006.jpg */
	background      : transparent url(images/album1008006.jpg) no-repeat top left;
	position        : absolute;
	left            : 122.25pt;
	top             :   0.00pt;
	width           : 576.75pt;
	height          : 128.25pt;
	}
span#e10            { /* images/album1008005.jpg */
	background      : transparent url(images/album1008005.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   0.00pt;
	width           : 122.25pt;
	height          : 129.00pt;
	}
span#e9             { /* images/album1008004.jpg */
	background      : transparent url(images/album1008004.jpg) no-repeat top left;
	position        : absolute;
	left            : 181.50pt;
	top             : 126.75pt;
	width           : 288.00pt;
	height          : 219.00pt;
	}
div#e8              { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 435.00pt;
	top             : 372.75pt;
	width           :  21.00pt;
	height          :  15.00pt;
	}
a#a8                { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
div#e7              { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 436.50pt;
	top             : 402.00pt;
	width           :  21.00pt;
	height          :  15.00pt;
	}
a#a7                { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
div#e6              { /* Categories */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 459.00pt;
	top             : 373.50pt;
	width           : 251.25pt;
	height          :  22.50pt;
	}
a#a6                { /* Categories */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
div#e5              { /* Official Campsite */
	position        : absolute;
	left            : 460.50pt;
	top             : 402.75pt;
	width           : 114.75pt;
	height          :  15.00pt;
	}
span#e4             { /* images/album1008003.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1008003.jpg) no-repeat top left;
	position        : absolute;
	left            :  70.50pt;
	top             : 543.00pt;
	width           : 236.25pt;
	height          : 194.25pt;
	}
div#e3              { /* Race Route */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  37.50pt;
	top             : 252.00pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e2             { /* images/album1008002.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1008002.jpg) no-repeat top left;
	position        : absolute;
	left            : 418.50pt;
	top             : 434.25pt;
	width           : 270.00pt;
	height          : 111.75pt;
	}
span#e1             { /* images/album1008001.jpg */
	background      : transparent url(images/album1008001.jpg) no-repeat top left;
	position        : absolute;
	left            : 428.25pt;
	top             : 444.00pt;
	width           : 252.75pt;
	height          :  95.25pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
