/*--- Avanquest WebEasy Page Style ---*/


.cc12               { /* Common */
	font            : bold 16pt 'Times New Roman', Book, Georgia, serif;
	color           : #800000;
	}
.cc13               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e2              { /* Back  */
	position        : absolute;
	left            : 607.50pt;
	top             : 408.00pt;
	width           :  52.50pt;
	height          :  19.50pt;
	}
div#e1              { /* &nbsp;  \<TABLE style="B... */
	position        : absolute;
	left            :  87.00pt;
	top             :  48.00pt;
	width           : 394.50pt;
	height          : 565.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
