/*--- Avanquest WebEasy Page Style ---*/


.cc33               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc34               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc35               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff00ff;
	text-align      : center;
	}
.cc36               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
div#e27             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  25.50pt;
	top             :  -1.50pt;
	width           : 714.00pt;
	height          : 738.00pt;
	}
div#e26             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  27.00pt;
	top             : 127.50pt;
	width           : 714.00pt;
	height          : 217.50pt;
	}
div#e25             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 729.75pt;
	top             :   7.50pt;
	width           :  11.25pt;
	height          : 112.50pt;
	}
div#e24             { /* Home */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 143.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e23            { /* images/album1011009.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1011009.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 164.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e22             { /* About Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 170.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e21            { /* images/album1011008.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1011008.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 191.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e20             { /* Registration */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 197.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e19            { /* images/album1011007.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1011007.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 218.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e18             { /* Race Day */
	color           : #000000;
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 224.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
a#a18               { /* Race Day */
	color           : #000000;
	}
span#e17            { /* images/album1011006.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1011006.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 245.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e16             { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  36.00pt;
	top             : 282.00pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e15            { /* images/album1011005.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1011005.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 272.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
span#e14            { /* images/album1001012.gif */
	background      : transparent url(images/album1001012.gif) no-repeat top left;
	position        : absolute;
	left            : 479.25pt;
	top             : 157.50pt;
	width           : 255.00pt;
	height          : 184.50pt;
	}
div#e13             { /* The race is held in Clif... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            :  33.00pt;
	top             : 384.00pt;
	width           : 328.50pt;
	height          : 224.25pt;
	}
h6#e12              { /* Follow us on Facebook   ... */
	position        : absolute;
	left            :  30.00pt;
	top             : 747.00pt;
	width           : 711.75pt;
	height          :  15.00pt;
	}
div#e11             {
	text-align      : left;
	position        : absolute;
	left            : 383.25pt;
	top             : 633.75pt;
	width           : 328.50pt;
	height          :  12.00pt;
	}
span#e10            { /* images/album1011004.jpg */
	background      : transparent url(images/album1011004.jpg) no-repeat top left;
	position        : absolute;
	left            : 127.50pt;
	top             :   0.00pt;
	width           : 617.25pt;
	height          : 129.75pt;
	}
span#e9             { /* images/album1011003.jpg */
	background      : transparent url(images/album1011003.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   0.00pt;
	width           : 122.25pt;
	height          : 129.00pt;
	}
div#e8              { /* Race Route */
	position        : absolute;
	left            :  60.00pt;
	top             : 363.00pt;
	width           :  87.00pt;
	height          :  16.50pt;
	}
div#e7              { /* Return the same way, dow... */
	position        : absolute;
	left            :  34.50pt;
	top             : 642.75pt;
	width           : 330.00pt;
	height          : 106.50pt;
	}
div#e6              { /* The route is accuratly m... */
	position        : absolute;
	left            : 471.00pt;
	top             : 556.50pt;
	width           : 229.50pt;
	height          : 112.50pt;
	}
div#e5              { /* Click here to see the ra... */
	position        : absolute;
	left            : 523.50pt;
	top             : 668.25pt;
	width           : 131.25pt;
	height          :  46.50pt;
	}
div#e4              { /* Race Route */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  36.00pt;
	top             : 252.00pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
div#e3              { /* You must give your race ... */
	position        : absolute;
	left            :  33.75pt;
	top             : 594.75pt;
	width           : 330.00pt;
	height          :  36.00pt;
	}
span#e2             { /* images/album1011002.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1011002.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             : 351.00pt;
	width           : 270.00pt;
	height          : 192.75pt;
	}
span#e1             { /* images/album1011001.jpg */
	background      : transparent url(images/album1011001.jpg) no-repeat top left;
	position        : absolute;
	left            : 168.00pt;
	top             : 130.50pt;
	width           : 314.25pt;
	height          : 214.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
