/*--- Avanquest WebEasy Page Style ---*/


.cc27               { /* Common */
	font            : bold 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc28               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc29               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc30               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc31               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc32               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : center;
	}
div#e29             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  25.50pt;
	top             :  -1.50pt;
	width           : 714.00pt;
	height          : 738.00pt;
	}
div#e28             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  27.00pt;
	top             : 127.50pt;
	width           : 714.00pt;
	height          : 217.50pt;
	}
div#e27             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 729.75pt;
	top             :   7.50pt;
	width           :  11.25pt;
	height          : 112.50pt;
	}
div#e26             { /* Home */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 143.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e25            { /* images/album1010010.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1010010.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 164.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e24             { /* About Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 170.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e23            { /* images/album1010009.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1010009.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 191.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e22             { /* Registration */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 197.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e21            { /* images/album1010008.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1010008.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 218.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e20             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 224.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e19            { /* images/album1010007.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1010007.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 245.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e18             { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  36.75pt;
	top             : 279.75pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e17            { /* images/album1010006.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1010006.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 272.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
span#e16            { /* images/album1001012.gif */
	background      : transparent url(images/album1001012.gif) no-repeat top left;
	position        : absolute;
	left            : 479.25pt;
	top             : 157.50pt;
	width           : 255.00pt;
	height          : 184.50pt;
	}
h6#e15              { /* Follow us on Facebook   ... */
	position        : absolute;
	left            :  30.00pt;
	top             : 747.00pt;
	width           : 711.75pt;
	height          :  18.00pt;
	}
div#e14             {
	text-align      : left;
	position        : absolute;
	left            : 383.25pt;
	top             : 633.75pt;
	width           : 328.50pt;
	height          :  12.00pt;
	}
span#e13            { /* images/album1010005.jpg */
	background      : transparent url(images/album1010005.jpg) no-repeat top left;
	position        : absolute;
	left            : 127.50pt;
	top             :   0.00pt;
	width           : 617.25pt;
	height          : 129.75pt;
	}
span#e12            { /* images/album1010004.jpg */
	background      : transparent url(images/album1010004.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   0.00pt;
	width           : 122.25pt;
	height          : 129.00pt;
	}
div#e11             { /* Shanaheever Campsite is ... */
	position        : absolute;
	left            : 254.25pt;
	top             : 367.50pt;
	width           : 337.50pt;
	height          :  75.00pt;
	}
div#e10             { /* Special rates for race e... */
	position        : absolute;
	left            : 467.25pt;
	top             : 424.50pt;
	width           : 292.50pt;
	height          :  54.00pt;
	}
div#e9              { /* email: enquiries@clifden... */
	position        : absolute;
	left            : 471.00pt;
	top             : 460.50pt;
	width           : 260.25pt;
	height          :  42.00pt;
	}
div#e8              { /* 095)22150 \ \or \ \087 7... */
	position        : absolute;
	left            : 286.50pt;
	top             : 486.75pt;
	width           : 209.25pt;
	height          :  42.75pt;
	}
span#e7             { /* images/album1010003.jpg */
	background      : transparent url(images/album1010003.jpg) no-repeat top left;
	position        : absolute;
	left            : 192.00pt;
	top             : 129.75pt;
	width           : 273.00pt;
	height          : 215.25pt;
	}
div#e6              { /* No matter where you stay... */
	position        : absolute;
	left            :  46.50pt;
	top             : 432.00pt;
	width           : 361.50pt;
	height          :  75.00pt;
	}
span#e5             { /* images/album1010002.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1010002.jpg) no-repeat top left;
	position        : absolute;
	left            : 453.00pt;
	top             : 498.75pt;
	width           : 285.00pt;
	height          : 223.50pt;
	}
span#e4             { /* images/album1010001.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1010001.jpg) no-repeat top left;
	position        : absolute;
	left            :  37.50pt;
	top             : 495.00pt;
	width           : 287.25pt;
	height          : 223.50pt;
	}
div#e3              { /* Race Route */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  36.00pt;
	top             : 254.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
div#e2              { /* www.clifdencamping.com */
	position        : absolute;
	left            : 314.25pt;
	top             : 715.50pt;
	width           : 156.75pt;
	height          :  27.00pt;
	}
div#e1              { /* Showers with hot water\ ... */
	position        : absolute;
	left            : 323.25pt;
	top             : 546.75pt;
	width           : 131.25pt;
	height          : 162.75pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
