/*--- Avanquest WebEasy Page Style ---*/


.cc15               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc16               { /* Common */
	font            : bold 14pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff00ff;
	text-align      : center;
	}
.cc17               { /* Common */
	font            : bold 20pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
div#e35             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  25.50pt;
	top             :  -1.50pt;
	width           : 714.00pt;
	height          : 738.00pt;
	}
div#e34             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  27.00pt;
	top             : 127.50pt;
	width           : 714.00pt;
	height          : 217.50pt;
	}
div#e33             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 729.75pt;
	top             :   7.50pt;
	width           :  11.25pt;
	height          : 112.50pt;
	}
div#e32             { /* Home */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 143.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e31            { /* images/album1006016.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1006016.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 164.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e30             { /* About Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 170.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e29            { /* images/album1006015.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1006015.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 191.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e28             { /* Registration */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 197.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e27            { /* images/album1006014.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1006014.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 218.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e26             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 224.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e25            { /* images/album1006013.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1006013.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 245.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e24             { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  34.50pt;
	top             : 276.75pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e23            { /* images/album1006012.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1006012.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 272.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
span#e22            { /* images/album1001012.gif */
	background      : transparent url(images/album1001012.gif) no-repeat top left;
	position        : absolute;
	left            : 479.25pt;
	top             : 157.50pt;
	width           : 255.00pt;
	height          : 184.50pt;
	}
span#e21            { /* images/album1006011.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1006011.jpg) no-repeat top left;
	position        : absolute;
	left            : 341.25pt;
	top             : 353.25pt;
	width           : 124.50pt;
	height          : 166.50pt;
	}
span#e20            { /* images/album1006010.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1006010.jpg) no-repeat top left;
	position        : absolute;
	left            : 480.00pt;
	top             : 353.25pt;
	width           : 122.25pt;
	height          : 179.25pt;
	}
h4#e19              { /* Registration */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            :  35.25pt;
	top             : 362.25pt;
	width           : 151.50pt;
	height          :  15.75pt;
	}
h6#e18              { /* Follow us on Facebook   ... */
	position        : absolute;
	left            :  30.00pt;
	top             : 747.00pt;
	width           : 711.75pt;
	height          :  17.25pt;
	}
span#e17            { /* images/album1006009.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1006009.jpg) no-repeat top left;
	position        : absolute;
	left            : 327.00pt;
	top             : 577.50pt;
	width           : 411.00pt;
	height          : 162.00pt;
	}
div#e16             { /* Or Contact Us  */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 126.75pt;
	top             : 453.00pt;
	width           : 150.75pt;
	height          :  26.25pt;
	}
a#a16               { /* Or Contact Us  */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
div#e15             { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            :  42.00pt;
	top             : 423.75pt;
	width           :  24.00pt;
	height          :  18.00pt;
	}
div#e14             { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            :  87.00pt;
	top             : 452.25pt;
	width           :  24.00pt;
	height          :  18.00pt;
	}
a#a14               { /* &gt;&gt; */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
span#e13            { /* images/album1006008.jpg */
	background      : transparent url(images/album1006008.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   0.00pt;
	width           : 122.25pt;
	height          : 129.00pt;
	}
span#e12            { /* images/album1006007.jpg */
	background      : transparent url(images/album1006007.jpg) no-repeat top left;
	position        : absolute;
	left            : 127.50pt;
	top             :   0.00pt;
	width           : 617.25pt;
	height          : 129.75pt;
	}
span#e11            { /* images/album1006006.jpg */
	background      : transparent url(images/album1006006.jpg) no-repeat top left;
	position        : absolute;
	left            : 175.50pt;
	top             : 129.00pt;
	width           : 300.00pt;
	height          : 215.25pt;
	}
div#e10             { /* To enter online click on... */
	position        : absolute;
	left            :  33.75pt;
	top             : 384.75pt;
	width           : 285.00pt;
	height          :  29.25pt;
	}
div#e9              { /* online entry */
	position        : absolute;
	left            :  66.75pt;
	top             : 424.50pt;
	width           : 161.25pt;
	height          :  15.75pt;
	}
span#e8             { /* images/album1006005.jpg */
	background      : transparent url(images/album1006005.jpg) no-repeat top left;
	position        : absolute;
	left            : 488.25pt;
	top             : 362.25pt;
	width           : 105.75pt;
	height          : 160.50pt;
	}
span#e7             { /* images/album1006004.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1006004.jpg) no-repeat top left;
	position        : absolute;
	left            : 613.50pt;
	top             : 352.50pt;
	width           : 121.50pt;
	height          : 174.75pt;
	}
span#e6             { /* images/album1006003.jpg */
	background      : transparent url(images/album1006003.jpg) no-repeat top left;
	position        : absolute;
	left            : 622.50pt;
	top             : 360.00pt;
	width           : 105.00pt;
	height          : 159.75pt;
	}
span#e5             { /* images/album1006002.jpg */
	background      : transparent url(images/album1006002.jpg) no-repeat top left;
	position        : absolute;
	left            : 335.25pt;
	top             : 585.75pt;
	width           : 396.75pt;
	height          : 146.25pt;
	}
div#e4              { /* Race Route */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  36.75pt;
	top             : 251.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
div#e3              { /* Follow us on Facebook */
	position        : absolute;
	left            : 378.75pt;
	top             : 547.50pt;
	width           : 345.75pt;
	height          :  19.50pt;
	}
span#e2             { /* images/album1006001.jpg */
	background      : transparent url(images/album1006001.jpg) no-repeat top left;
	position        : absolute;
	left            : 350.25pt;
	top             : 362.25pt;
	width           : 108.00pt;
	height          : 150.00pt;
	}
div#e1              { /* Many thanks to our spons... */
	position        : absolute;
	left            :  50.25pt;
	top             : 522.75pt;
	width           : 249.00pt;
	height          : 193.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
