/*--- Avanquest WebEasy Page Style ---*/


.cc18               { /* Common */
	font            : bold 14pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc19               { /* Common */
	font            : bold 14pt 'Forte';
	color           : #000000;
	text-align      : center;
	}
.cc20               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
div#e30             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  25.50pt;
	top             :  -1.50pt;
	width           : 714.00pt;
	height          : 738.00pt;
	}
div#e29             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  27.00pt;
	top             : 127.50pt;
	width           : 714.00pt;
	height          : 217.50pt;
	}
div#e28             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 729.75pt;
	top             :   7.50pt;
	width           :  11.25pt;
	height          : 112.50pt;
	}
div#e27             { /* Home */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 143.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e26            { /* images/album1007016.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1007016.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 164.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e25             { /* About Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 170.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e24            { /* images/album1007015.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1007015.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 191.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e23             { /* Registration */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 197.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e22            { /* images/album1007014.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1007014.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 218.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e21             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  35.25pt;
	top             : 224.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e20            { /* images/album1007013.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1007013.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 245.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
div#e19             { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            :  34.50pt;
	top             : 276.75pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
span#e18            { /* images/album1007012.jpg */
	border          :   0.00pt none #78cef2;
	clip            : rect(0.00pt,129.75pt,0.75pt,0.00pt);
	background      : transparent url(images/album1007012.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 272.25pt;
	width           : 129.75pt;
	height          :   0.75pt;
	}
span#e17            { /* images/album1001012.gif */
	background      : transparent url(images/album1001012.gif) no-repeat top left;
	position        : absolute;
	left            : 479.25pt;
	top             : 157.50pt;
	width           : 255.00pt;
	height          : 184.50pt;
	}
span#e16            { /* images/album1007011.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1007011.jpg) no-repeat top left;
	position        : absolute;
	left            : 341.25pt;
	top             : 353.25pt;
	width           : 124.50pt;
	height          : 166.50pt;
	}
span#e15            { /* images/album1007010.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1007010.jpg) no-repeat top left;
	position        : absolute;
	left            : 480.00pt;
	top             : 353.25pt;
	width           : 122.25pt;
	height          : 179.25pt;
	}
h6#e14              { /* Follow us on Facebook   ... */
	position        : absolute;
	left            :  30.00pt;
	top             : 747.00pt;
	width           : 711.75pt;
	height          :  17.25pt;
	}
span#e13            { /* images/album1007009.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1007009.jpg) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             : 548.25pt;
	width           : 411.00pt;
	height          :  81.75pt;
	}
span#e12            { /* images/album1007008.jpg */
	background      : transparent url(images/album1007008.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   0.00pt;
	width           : 122.25pt;
	height          : 129.00pt;
	}
span#e11            { /* images/album1007007.jpg */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/album1007007.jpg) no-repeat top left;
	position        : absolute;
	left            : 613.50pt;
	top             : 352.50pt;
	width           : 121.50pt;
	height          : 174.75pt;
	}
span#e10            { /* images/album1007006.jpg */
	background      : transparent url(images/album1007006.jpg) no-repeat top left;
	position        : absolute;
	left            : 177.75pt;
	top             : 128.25pt;
	width           : 290.25pt;
	height          : 217.50pt;
	}
div#e9              { /* Race Route */
	padding-top     :   2.25pt;
	position        : absolute;
	left            :  36.75pt;
	top             : 251.25pt;
	width           : 126.75pt;
	height          :  12.00pt;
	}
div#e8              { /* We would like to take th... */
	position        : absolute;
	left            :  75.75pt;
	top             : 360.75pt;
	width           : 213.75pt;
	height          : 164.25pt;
	}
img#e7              { /* images/album1007005.jpg */
	position        : absolute;
	left            :  39.75pt;
	top             : 558.75pt;
	width           : 394.50pt;
	height          :  60.75pt;
	}
img#e6              { /* images/album1007004.jpg */
	position        : absolute;
	left            : 489.75pt;
	top             : 362.25pt;
	width           : 105.75pt;
	height          : 163.50pt;
	}
div#e5              { /* Brian Kelly\ \Clifden\ \... */
	position        : absolute;
	left            : 354.00pt;
	top             : 378.75pt;
	width           :  98.25pt;
	height          : 119.25pt;
	}
div#e4              { /* \ */
	position        : absolute;
	left            : 416.25pt;
	top             : 411.00pt;
	width           :   9.75pt;
	height          :  39.00pt;
	}
span#e3             { /* images/album1007003.jpg */
	background      : transparent url(images/album1007003.jpg) no-repeat top left;
	position        : absolute;
	left            : 528.75pt;
	top             : 546.75pt;
	width           : 187.50pt;
	height          :  83.25pt;
	}
span#e2             { /* images/album1007002.jpg */
	background      : transparent url(images/album1007002.jpg) no-repeat top left;
	position        : absolute;
	left            : 621.00pt;
	top             : 362.25pt;
	width           : 106.50pt;
	height          : 156.75pt;
	}
span#e1             { /* images/album1007001.jpg */
	background      : transparent url(images/album1007001.jpg) no-repeat top left;
	position        : absolute;
	left            : 116.25pt;
	top             :   0.00pt;
	width           : 624.75pt;
	height          : 130.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/blueer0001.gif);
	position        : relative;
	width           : 768.00pt;
	height          : 787.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
