/*--- Avanquest WebEasy Page Style ---*/


.cc13               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #cc0033;
	}
.cc14               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #ff5b85;
	}
.cc15               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   0.75pt solid #cc0033;
	}
div#e35             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          :  99.00pt;
	}
div#e34             {
	padding-top     :  17.25pt;
	position        : absolute;
	left            : 154.50pt;
	top             :  17.25pt;
	width           : 305.25pt;
	height          :  18.00pt;
	}
span#e33            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website004005.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  99.75pt;
	width           : 525.00pt;
	height          : 116.25pt;
	}
div#e32             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 111.00pt;
	top             : 461.25pt;
	width           : 526.50pt;
	height          : 114.75pt;
	}
div#e31             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 111.00pt;
	top             : 228.75pt;
	width           : 525.00pt;
	height          : 233.25pt;
	}
div#e30             { /* Race Route */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 125.25pt;
	top             : 472.50pt;
	width           : 165.00pt;
	height          :  15.00pt;
	}
h5#e29              { /* Official Campsite */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 288.75pt;
	top             : 474.00pt;
	width           : 157.50pt;
	height          :  15.00pt;
	}
div#e28             { /* Contact us */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 465.75pt;
	top             : 473.25pt;
	width           : 157.50pt;
	height          :  15.00pt;
	}
div#e27             { /* The race starts at the C... */
	text-align      : left;
	position        : absolute;
	left            : 122.25pt;
	top             : 492.00pt;
	width           : 154.50pt;
	height          :  50.25pt;
	}
div#e26             { /* Clifden Camping and Cara... */
	text-align      : left;
	position        : absolute;
	left            : 288.75pt;
	top             : 490.50pt;
	width           : 154.50pt;
	height          :  38.25pt;
	}
div#e25             { /* Registration will take p... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 117.00pt;
	top             : 244.50pt;
	width           : 350.25pt;
	height          : 218.25pt;
	}
div#e24             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 474.00pt;
	top             : 229.50pt;
	width           : 162.75pt;
	height          : 231.75pt;
	}
span#e23            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website004004.jpg) no-repeat top left;
	position        : absolute;
	left            : 480.00pt;
	top             : 250.50pt;
	width           : 149.25pt;
	height          : 179.25pt;
	}
span#e22            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website004003.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  99.00pt;
	width           : 524.25pt;
	height          : 129.75pt;
	}
h1#e21              { /* Do you have what it take... */
	color           : #000000;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 126.75pt;
	top             : 188.25pt;
	width           : 498.75pt;
	height          :  29.25pt;
	}
h4#e20              { /* Race Day: */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 118.50pt;
	top             : 231.00pt;
	width           : 346.50pt;
	height          :  15.00pt;
	}
address#e19         { /* 00 353 87 6271288 */
	text-align      : left;
	position        : absolute;
	left            : 618.75pt;
	top             :  48.00pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
img#e18             { /* images/clifden_lifeboat_... */
	position        : absolute;
	left            : 551.25pt;
	top             :  18.00pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
div#e17             { /* For more information, co... */
	text-align      : left;
	position        : absolute;
	left            : 469.50pt;
	top             : 490.50pt;
	width           : 154.50pt;
	height          :  59.25pt;
	}
div#e16             { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 162.00pt;
	top             :  24.75pt;
	width           : 342.00pt;
	height          :  46.50pt;
	}
div#e15             {
	background-color: #cc0033;
	position        : absolute;
	left            : 127.50pt;
	top             :  50.25pt;
	width           :  18.75pt;
	height          :  18.75pt;
	}
div#e14             {
	background-color: #ff5b85;
	position        : absolute;
	left            : 130.50pt;
	top             :  31.50pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e13             {
	position        : absolute;
	left            : 131.25pt;
	top             :  13.50pt;
	width           :   6.75pt;
	height          :   6.75pt;
	}
span#e12            { /* images/clifden_lifeboat_... */
	border          :   0.00pt none #cc0033;
	background      : transparent url(images/clifden_lifeboat_10k_website004001.jpg) no-repeat top left;
	position        : absolute;
	left            : 616.50pt;
	top             :  21.75pt;
	width           :   0.75pt;
	height          :  48.00pt;
	}
address#e11         { /* info@clifden10k.com */
	text-align      : left;
	position        : absolute;
	left            : 624.75pt;
	top             :  18.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
div#e10             {
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             :  78.00pt;
	width           : 525.00pt;
	height          :  21.00pt;
	}
div#e9              { /* Home */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 111.00pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e8              { /* About Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 222.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e7              { /* Race Day */
	color           : #cc0033;
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 316.50pt;
	top             :  82.50pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
a#a7                { /* Race Day */
	color           : #cc0033;
	}
div#e6              { /* Race Categories */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 432.75pt;
	top             :  81.75pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e5              { /* Contact Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 537.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e4              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 195.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e3              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 408.75pt;
	top             :  79.50pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e2              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 306.75pt;
	top             :  78.75pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e1              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 531.00pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/clifden_lifeboat_10k_website004b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
