/*--- Avanquest WebEasy Page Style ---*/


.cc28               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #cc0033;
	}
.cc29               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #ff5b85;
	}
.cc30               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   0.75pt solid #cc0033;
	}
div#e39             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          :  99.00pt;
	}
div#e38             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             : 436.50pt;
	width           : 525.00pt;
	height          : 123.00pt;
	}
div#e37             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             : 216.00pt;
	width           : 525.00pt;
	height          : 223.50pt;
	}
div#e36             {
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             :  78.00pt;
	width           : 525.00pt;
	height          :  21.00pt;
	}
div#e35             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 476.25pt;
	top             : 216.00pt;
	width           : 159.00pt;
	height          : 223.50pt;
	}
div#e34             {
	background-color: #cc0033;
	position        : absolute;
	left            : 125.25pt;
	top             :  39.00pt;
	width           :  18.75pt;
	height          :  18.75pt;
	}
div#e33             {
	background-color: #ff5b85;
	position        : absolute;
	left            : 129.00pt;
	top             :  24.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e32             {
	position        : absolute;
	left            : 131.25pt;
	top             :  13.50pt;
	width           :   6.75pt;
	height          :   6.75pt;
	}
span#e31            { /* images/clifden_lifeboat_... */
	border          :   0.00pt none #cc0033;
	background      : transparent url(images/clifden_lifeboat_10k_website008006.jpg) no-repeat top left;
	position        : absolute;
	left            : 617.25pt;
	top             :  15.00pt;
	width           :   0.75pt;
	height          :  48.00pt;
	}
div#e30             { /* Home */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 117.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e29             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 207.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e28             { /* About Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 222.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e27             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 312.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e26             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 327.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e25             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 417.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e24             { /* Race Categories */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 432.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e23             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 522.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e22             { /* Contact Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 537.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
h4#e21              { /* Contact Us */
	padding-top     :   3.00pt;
	position        : absolute;
	left            : 126.75pt;
	top             : 229.50pt;
	width           : 202.50pt;
	height          :  16.50pt;
	}
address#e20         {
	text-align      : right;
	position        : absolute;
	left            : 371.25pt;
	top             : 243.75pt;
	width           :  91.50pt;
	height          :  12.00pt;
	}
address#e19         { /* 00 353 87 6271288 */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 126.00pt;
	top             : 315.00pt;
	width           : 120.00pt;
	height          :  15.75pt;
	}
address#e18         { /* info@clifden10k.com */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 126.75pt;
	top             : 273.00pt;
	width           : 120.00pt;
	height          :  27.00pt;
	}
a#a18               { /* info@clifden10k.com */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
h6#e17              { /* News */
	text-align      : center;
	position        : absolute;
	left            : 488.25pt;
	top             : 220.50pt;
	width           : 143.25pt;
	height          :  19.50pt;
	}
h6#e16              {
	position        : absolute;
	left            : 525.75pt;
	top             : 243.75pt;
	width           :  92.25pt;
	height          :  14.25pt;
	}
h6#e15              { /* Special trophy for famil... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 513.00pt;
	top             : 376.50pt;
	width           : 103.50pt;
	height          :  57.00pt;
	}
a#a15               { /* Special trophy for famil... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
div#e14             {
	position        : absolute;
	left            : 243.00pt;
	top             : 225.75pt;
	width           : 216.00pt;
	height          : 180.00pt;
	}
span#e13            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website007002.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  96.00pt;
	width           : 524.25pt;
	height          : 123.00pt;
	}
h1#e12              { /* Do you have what it take... */
	color           : #000000;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 126.75pt;
	top             : 188.25pt;
	width           : 498.75pt;
	height          :  29.25pt;
	}
div#e11             { /* Trophy for anyone who ca... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 502.50pt;
	top             : 248.25pt;
	width           : 120.75pt;
	height          : 115.50pt;
	}
a#a11               { /* Trophy for anyone who ca... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
div#e10             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 481.50pt;
	top             : 249.75pt;
	width           :  18.00pt;
	height          :  18.75pt;
	}
div#e9              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 488.25pt;
	top             : 377.25pt;
	width           :  18.00pt;
	height          :  18.00pt;
	}
div#e8              { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 165.75pt;
	top             :  18.00pt;
	width           : 357.75pt;
	height          :  46.50pt;
	}
img#e7              { /* images/clifden_lifeboat_... */
	position        : absolute;
	left            : 554.25pt;
	top             :  20.25pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
address#e6          { /* info@clifden10k.com */
	text-align      : left;
	position        : absolute;
	left            : 624.75pt;
	top             :  18.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
address#e5          { /* 00 353 87 6271288 */
	text-align      : left;
	position        : absolute;
	left            : 621.00pt;
	top             :  49.50pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
span#e4             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website008004.jpg) no-repeat top left;
	position        : absolute;
	left            : 115.50pt;
	top             : 445.50pt;
	width           : 156.00pt;
	height          : 112.50pt;
	}
span#e3             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website008003.jpg) no-repeat top left;
	position        : absolute;
	left            : 513.00pt;
	top             : 456.75pt;
	width           : 118.50pt;
	height          :  93.75pt;
	}
span#e2             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website008002.jpg) no-repeat top left;
	position        : absolute;
	left            : 283.50pt;
	top             : 447.00pt;
	width           :  77.25pt;
	height          : 107.25pt;
	}
span#e1             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website008001.jpg) no-repeat top left;
	position        : absolute;
	left            : 369.00pt;
	top             : 449.25pt;
	width           : 135.00pt;
	height          : 104.25pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/clifden_lifeboat_10k_website008b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
