/*--- Avanquest WebEasy Page Style ---*/


.cc20               { /* Common */
	font            : 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc21               { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,743.25pt,15.00pt,0.00pt);
	}
.cc22               { /* Common */
	font            : bold 16pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc23               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	text-align      : justify;
	}
.cc24               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc25               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc26               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	text-align      : justify;
	}
.cc27               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc28               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc29               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc30               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc31               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc32               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
span#e34            { /* clifden_10k_new_20120010... */
	background      : transparent url(clifden_10k_new_2012001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 171.00pt;
	height          : 177.75pt;
	}
span#e33            { /* clifden_10k_new_20120030... */
	background      : transparent url(clifden_10k_new_2012003010.jpg) no-repeat top left;
	position        : absolute;
	left            : 171.00pt;
	top             :   0.00pt;
	width           : 574.50pt;
	height          : 177.00pt;
	}
img#e32             { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            :  12.00pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e31             { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            : 109.50pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e30             { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            : 270.00pt;
	top             : 181.50pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e29             { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            : 414.00pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e28             { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            : 581.25pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
div#e27             { /* Home */
	position        : absolute;
	left            :  34.50pt;
	top             : 182.25pt;
	width           :  73.50pt;
	height          :  23.25pt;
	}
div#e26             { /* Event Details */
	position        : absolute;
	left            : 136.50pt;
	top             : 183.00pt;
	width           : 121.50pt;
	height          :  22.50pt;
	}
div#e25             { /* Registration */
	position        : absolute;
	left            : 293.25pt;
	top             : 180.75pt;
	width           : 118.50pt;
	height          :  23.25pt;
	}
div#e24             { /* Photo Gallery */
	position        : absolute;
	left            : 440.25pt;
	top             : 180.00pt;
	width           : 130.50pt;
	height          :  23.25pt;
	}
div#e23             { /* Contact Us */
	position        : absolute;
	left            : 605.25pt;
	top             : 178.50pt;
	width           : 131.25pt;
	height          :  23.25pt;
	}
span#e22            { /* clifden_10k_new_20120030... */
	background      : transparent url(clifden_10k_new_2012003004.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 489.75pt;
	width           : 743.25pt;
	height          :  15.00pt;
	}
div#e21             { /* Categories  */
	position        : absolute;
	left            :  67.50pt;
	top             : 214.50pt;
	width           : 124.50pt;
	height          :  39.00pt;
	}
div#e20             { /* \ \Ideal for those who w... */
	position        : absolute;
	left            : 537.75pt;
	top             : 243.75pt;
	width           : 188.25pt;
	height          :  86.25pt;
	}
div#e19             { /* Why not get your workmat... */
	position        : absolute;
	left            : 284.25pt;
	top             : 340.50pt;
	width           : 216.00pt;
	height          : 146.25pt;
	}
div#e18             { /* For those who want to ta... */
	position        : absolute;
	left            : 537.00pt;
	top             : 357.00pt;
	width           : 181.50pt;
	height          :  51.00pt;
	}
div#e17             { /* Trophies for 1st, 2nd an... */
	position        : absolute;
	left            : 537.00pt;
	top             : 445.50pt;
	width           : 163.50pt;
	height          :  26.25pt;
	}
div#e16             { /* To enter online click on... */
	position        : absolute;
	left            : 135.75pt;
	top             : 522.00pt;
	width           : 189.00pt;
	height          :  29.25pt;
	}
div#e15             { /* The race is open to all ... */
	position        : absolute;
	left            :  21.75pt;
	top             : 260.25pt;
	width           : 216.75pt;
	height          : 223.50pt;
	}
div#e14             { /* Run    */
	position        : absolute;
	left            : 536.25pt;
	top             : 222.00pt;
	width           :  57.00pt;
	height          :  15.75pt;
	}
div#e13             { /* Run/Walk */
	position        : absolute;
	left            : 537.00pt;
	top             : 336.00pt;
	width           :  86.25pt;
	height          :  21.75pt;
	}
div#e12             { /* walk  */
	position        : absolute;
	left            : 537.00pt;
	top             : 409.50pt;
	width           :  45.75pt;
	height          :  15.00pt;
	}
div#e11             { /* Teams  */
	position        : absolute;
	left            : 282.75pt;
	top             : 323.25pt;
	width           :  76.50pt;
	height          :  20.25pt;
	}
div#e10             { /* runireland.com */
	position        : absolute;
	left            : 345.75pt;
	top             : 512.25pt;
	width           : 142.50pt;
	height          :  21.00pt;
	}
div#e9              { /* activeglobal.com */
	position        : absolute;
	left            : 347.25pt;
	top             : 540.00pt;
	width           : 137.25pt;
	height          :  27.75pt;
	}
span#e8             { /* clifden_10k_new_20120030... */
	background      : transparent url(clifden_10k_new_2012003003.jpg) no-repeat top left;
	position        : absolute;
	left            : 363.00pt;
	top             : 214.50pt;
	width           : 156.75pt;
	height          : 114.00pt;
	}
div#e7              { /* The D'Arcy Inn Team 2009 */
	position        : absolute;
	left            : 363.75pt;
	top             : 316.50pt;
	width           : 158.25pt;
	height          :  16.50pt;
	}
div#e6              { /* or contact us */
	position        : absolute;
	left            : 501.00pt;
	top             : 522.00pt;
	width           : 107.25pt;
	height          :  28.50pt;
	}
div#e5              { /* Follow us on \ \facebook */
	position        : absolute;
	left            : 244.50pt;
	top             : 231.75pt;
	width           : 113.25pt;
	height          :  48.75pt;
	}
img#e4              { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            :   9.00pt;
	top             : 528.00pt;
	width           :  14.25pt;
	height          :  14.25pt;
	}
div#e3              { /* Back to background */
	position        : absolute;
	left            :  27.75pt;
	top             : 522.00pt;
	width           :  85.50pt;
	height          :  28.50pt;
	}
img#e2              { /* clifden_10k_new_20120030... */
	position        : absolute;
	left            : 626.25pt;
	top             : 528.75pt;
	width           :  15.75pt;
	height          :  15.75pt;
	}
div#e1              { /* Go To:\ \On Race Day */
	position        : absolute;
	left            : 646.50pt;
	top             : 517.50pt;
	width           :  79.50pt;
	height          :  38.25pt;
	}
body#page           { /* Page Body */
	background-color: #4d54d8;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
