/*--- Avanquest WebEasy Page Style ---*/


.cc14               { /* Common */
	font            : 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc15               { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,743.25pt,15.00pt,0.00pt);
	}
.cc16               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	text-align      : justify;
	}
.cc17               { /* Common */
	font            : bold 16pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc18               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc19               { /* Common */
	font            : 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
span#e29            { /* clifden_10k_new_20120010... */
	background      : transparent url(clifden_10k_new_2012001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 171.00pt;
	height          : 177.75pt;
	}
span#e28            { /* clifden_10k_new_20120020... */
	background      : transparent url(clifden_10k_new_2012002014.jpg) no-repeat top left;
	position        : absolute;
	left            : 171.00pt;
	top             :   0.00pt;
	width           : 574.50pt;
	height          : 177.00pt;
	}
img#e27             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  12.00pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e26             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            : 109.50pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e25             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            : 270.00pt;
	top             : 181.50pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e24             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            : 414.00pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e23             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            : 581.25pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
div#e22             { /* Home */
	position        : absolute;
	left            :  34.50pt;
	top             : 182.25pt;
	width           :  73.50pt;
	height          :  23.25pt;
	}
div#e21             { /* Event Details */
	position        : absolute;
	left            : 136.50pt;
	top             : 183.00pt;
	width           : 121.50pt;
	height          :  22.50pt;
	}
div#e20             { /* Registration */
	position        : absolute;
	left            : 293.25pt;
	top             : 180.75pt;
	width           : 118.50pt;
	height          :  23.25pt;
	}
div#e19             { /* Photo Gallery */
	position        : absolute;
	left            : 440.25pt;
	top             : 180.00pt;
	width           : 130.50pt;
	height          :  23.25pt;
	}
div#e18             { /* Contact Us */
	position        : absolute;
	left            : 605.25pt;
	top             : 178.50pt;
	width           : 131.25pt;
	height          :  23.25pt;
	}
span#e17            { /* clifden_10k_new_20120020... */
	background      : transparent url(clifden_10k_new_2012002008.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 489.75pt;
	width           : 743.25pt;
	height          :  15.00pt;
	}
div#e16             { /* The inaugural Clifden Li... */
	position        : absolute;
	left            :  29.25pt;
	top             : 240.00pt;
	width           : 449.25pt;
	height          : 139.50pt;
	}
div#e15             { /* Background  */
	position        : absolute;
	left            :  30.00pt;
	top             : 215.25pt;
	width           : 128.25pt;
	height          :  47.25pt;
	}
div#e14             { /* Due to the overwhelming ... */
	position        : absolute;
	left            : 378.00pt;
	top             : 400.50pt;
	width           : 338.25pt;
	height          : 115.50pt;
	}
span#e13            { /* clifden_10k_new_20120020... */
	background      : transparent url(clifden_10k_new_2012002007.jpg) no-repeat top left;
	position        : absolute;
	left            : 537.00pt;
	top             : 210.75pt;
	width           : 192.75pt;
	height          : 167.25pt;
	}
div#e12             { /* Mikey Mullen 2004 */
	position        : absolute;
	left            : 639.75pt;
	top             : 379.50pt;
	width           :  94.50pt;
	height          :  18.00pt;
	}
div#e11             { /* Categories */
	position        : absolute;
	left            :  53.25pt;
	top             : 358.50pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
img#e10             { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  30.00pt;
	top             : 438.00pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
img#e9              { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  30.75pt;
	top             : 387.00pt;
	width           :  14.25pt;
	height          :  14.25pt;
	}
img#e8              { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  30.00pt;
	top             : 466.50pt;
	width           :  15.00pt;
	height          :  14.25pt;
	}
img#e7              { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  30.00pt;
	top             : 412.50pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
img#e6              { /* clifden_10k_new_20120020... */
	position        : absolute;
	left            :  31.50pt;
	top             : 361.50pt;
	width           :  14.25pt;
	height          :  14.25pt;
	}
div#e5              { /* On Race Day */
	position        : absolute;
	left            :  54.75pt;
	top             : 386.25pt;
	width           : 103.50pt;
	height          :  16.50pt;
	}
div#e4              { /* Official campsite */
	position        : absolute;
	left            :  54.00pt;
	top             : 441.00pt;
	width           : 112.50pt;
	height          :  16.50pt;
	}
div#e3              { /* Race Results */
	position        : absolute;
	left            :  53.25pt;
	top             : 466.50pt;
	width           : 104.25pt;
	height          :  16.50pt;
	}
div#e2              { /* Race Route */
	position        : absolute;
	left            :  54.75pt;
	top             : 413.25pt;
	width           :  94.50pt;
	height          :  16.50pt;
	}
span#e1             { /* clifden_10k_new_20120020... */
	background      : transparent url(clifden_10k_new_2012002001.jpg) no-repeat top left;
	position        : absolute;
	left            : 166.50pt;
	top             : 351.00pt;
	width           : 176.25pt;
	height          : 130.50pt;
	}
body#page           { /* Page Body */
	background-color: #4d54d8;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
