/*--- Avanquest WebEasy Page Style ---*/


.cc39               { /* Common */
	font            : bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc40               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	}
.cc41               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	}
.cc42               { /* Common */
	border          :   0.00pt none #0000ff;
	}
.cc43               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #333333;
	}
.cc44               { /* Common */
	font            : italic bold 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	}
h5#e30              {
	font            : 1pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  99.75pt;
	top             :  43.50pt;
	width           :  24.75pt;
	height          :   3.00pt;
	}
span#e29            { /* clifden_lifeboat_10k_web... */
	clip            : rect(0.00pt,23.25pt,10.50pt,0.00pt);
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011001014.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           :  23.25pt;
	height          :  10.50pt;
	}
h2#e28              {
	font            : 3pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            : 195.00pt;
	top             : 189.75pt;
	width           :  84.75pt;
	height          :   6.75pt;
	}
span#e27            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011001013.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 105.00pt;
	height          : 134.25pt;
	}
h4#e26              {
	font            : bold 18pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	text-align      : left;
	position        : absolute;
	left            : 207.00pt;
	top             : 163.50pt;
	width           : 128.25pt;
	height          :  24.00pt;
	}
h4#e25              { /* Race Route */
	font            : bold 16pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	text-align      : left;
	position        : absolute;
	left            : 246.00pt;
	top             : 167.25pt;
	width           : 148.50pt;
	height          :  40.50pt;
	}
span#e24            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011008010.jpg) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :   0.00pt;
	width           : 639.75pt;
	height          : 130.50pt;
	}
div#e23             { /* The race is held in Clif... */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	text-align      : left;
	position        : absolute;
	left            :  19.50pt;
	top             : 191.25pt;
	width           : 452.25pt;
	height          :  87.75pt;
	}
img#e22             { /* clifden_lifeboat_10k_web... */
	background-color: #808080;
	position        : absolute;
	left            : 507.00pt;
	top             : 172.50pt;
	width           : 222.75pt;
	height          : 297.00pt;
	}
h6#e21              { /* The route is accuratly m... */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	text-align      : left;
	position        : absolute;
	left            : 241.50pt;
	top             : 506.25pt;
	width           : 447.75pt;
	height          :  49.50pt;
	}
div#e20             { /* Click here to see the ra... */
	position        : absolute;
	left            : 401.25pt;
	top             : 264.75pt;
	width           :  88.50pt;
	height          :  75.00pt;
	}
div#e19             { /* From the Start at the Co... */
	position        : absolute;
	left            :  19.50pt;
	top             : 265.50pt;
	width           : 350.25pt;
	height          : 102.00pt;
	}
div#e18             { /* You must give your race ... */
	position        : absolute;
	left            : 212.25pt;
	top             : 354.75pt;
	width           : 294.00pt;
	height          :  57.00pt;
	}
div#e17             { /* Return the same way, dow... */
	position        : absolute;
	left            : 224.25pt;
	top             : 397.50pt;
	width           : 294.00pt;
	height          : 102.00pt;
	}
span#e16            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011008008.jpg) no-repeat top left;
	position        : absolute;
	left            :   9.75pt;
	top             : 378.00pt;
	width           : 190.50pt;
	height          : 178.50pt;
	}
img#e15             { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            :   6.00pt;
	top             : 138.75pt;
	width           :  52.50pt;
	height          :  21.00pt;
	}
img#e14             { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            :  69.00pt;
	top             : 138.75pt;
	width           :  57.75pt;
	height          :  20.25pt;
	}
img#e13             { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            : 278.25pt;
	top             : 139.50pt;
	width           :  58.50pt;
	height          :  21.00pt;
	}
img#e12             { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            : 347.25pt;
	top             : 139.50pt;
	width           :  53.25pt;
	height          :  21.00pt;
	}
img#e11             { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            : 410.25pt;
	top             : 140.25pt;
	width           :  40.50pt;
	height          :  19.50pt;
	}
div#e10             { /* &nbsp;&nbsp;Home  */
	position        : absolute;
	left            :   6.00pt;
	top             : 138.75pt;
	width           :  52.50pt;
	height          :  20.25pt;
	}
div#e9              { /* &nbsp;&nbsp;Background */
	position        : absolute;
	left            :  70.50pt;
	top             : 138.75pt;
	width           :  56.25pt;
	height          :  21.75pt;
	}
img#e8              { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            : 140.25pt;
	top             : 140.25pt;
	width           :  48.00pt;
	height          :  20.25pt;
	}
div#e7              { /* Categories */
	position        : absolute;
	left            : 140.25pt;
	top             : 138.75pt;
	width           :  48.75pt;
	height          :  22.50pt;
	}
img#e6              { /* clifden_lifeboat_10k_web... */
	position        : absolute;
	left            : 204.75pt;
	top             : 140.25pt;
	width           :  63.75pt;
	height          :  21.00pt;
	}
div#e5              { /* &nbsp;&nbsp;On Race Day */
	position        : absolute;
	left            : 204.00pt;
	top             : 139.50pt;
	width           :  63.75pt;
	height          :  21.75pt;
	}
div#e4              { /* &nbsp;Race Reports */
	position        : absolute;
	left            : 278.25pt;
	top             : 138.75pt;
	width           :  62.25pt;
	height          :  21.75pt;
	}
div#e3              { /* &nbsp;Contact Us */
	position        : absolute;
	left            : 348.00pt;
	top             : 139.50pt;
	width           :  51.75pt;
	height          :  21.75pt;
	}
div#e2              { /* Back to Race Day Informa... */
	position        : absolute;
	left            : 249.75pt;
	top             : 546.00pt;
	width           : 223.50pt;
	height          :  17.25pt;
	}
div#e1              { /* Photos */
	position        : absolute;
	left            : 413.25pt;
	top             : 139.50pt;
	width           :  39.75pt;
	height          :  20.25pt;
	}
body#page           { /* Page Body */
	background-image: url(texture-3.jpg);
	overflow        : auto;
	}



/*--- EndOfFile ---*/
