/*--- Avanquest WebEasy Page Style ---*/


.cc33               { /* Common */
	font            : 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc34               { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,744.00pt,15.00pt,0.00pt);
	}
.cc35               { /* Common */
	font            : bold 16pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc36               { /* Common */
	font            : 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	text-align      : justify;
	}
.cc37               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc38               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	text-align      : justify;
	}
.cc39               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
span#e31            { /* clifden_10k_new_20120010... */
	background      : transparent url(clifden_10k_new_2012001014.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 171.00pt;
	height          : 177.75pt;
	}
span#e30            { /* clifden_10k_new_20120040... */
	background      : transparent url(clifden_10k_new_2012004012.jpg) no-repeat top left;
	position        : absolute;
	left            : 171.00pt;
	top             :   0.00pt;
	width           : 574.50pt;
	height          : 177.00pt;
	}
img#e29             { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            :  12.00pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e28             { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 109.50pt;
	top             : 183.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e27             { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 270.00pt;
	top             : 181.50pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e26             { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 414.00pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
img#e25             { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 581.25pt;
	top             : 180.75pt;
	width           :  19.50pt;
	height          :  19.50pt;
	}
div#e24             { /* Home */
	position        : absolute;
	left            :  34.50pt;
	top             : 182.25pt;
	width           :  73.50pt;
	height          :  23.25pt;
	}
div#e23             { /* Event Details */
	position        : absolute;
	left            : 136.50pt;
	top             : 183.00pt;
	width           : 121.50pt;
	height          :  22.50pt;
	}
div#e22             { /* Registration */
	position        : absolute;
	left            : 293.25pt;
	top             : 180.75pt;
	width           : 118.50pt;
	height          :  23.25pt;
	}
div#e21             { /* Photo Gallery */
	position        : absolute;
	left            : 440.25pt;
	top             : 180.00pt;
	width           : 130.50pt;
	height          :  23.25pt;
	}
div#e20             { /* Contact Us */
	position        : absolute;
	left            : 605.25pt;
	top             : 178.50pt;
	width           : 131.25pt;
	height          :  23.25pt;
	}
span#e19            { /* clifden_10k_new_20120040... */
	background      : transparent url(clifden_10k_new_2012004006.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 488.25pt;
	width           : 744.00pt;
	height          :  15.00pt;
	}
div#e18             { /* On Race Day:  */
	position        : absolute;
	left            :  83.25pt;
	top             : 216.75pt;
	width           : 144.75pt;
	height          :  18.75pt;
	}
div#e17             { /* Registration will take p... */
	position        : absolute;
	left            :   7.50pt;
	top             : 258.00pt;
	width           : 228.00pt;
	height          : 141.00pt;
	}
div#e16             { /* The race will begin at 2... */
	position        : absolute;
	left            :  10.50pt;
	top             : 366.00pt;
	width           : 232.50pt;
	height          :  54.00pt;
	}
div#e15             { /* There will be 2 water st... */
	position        : absolute;
	left            :   8.25pt;
	top             : 431.25pt;
	width           : 234.00pt;
	height          :  65.25pt;
	}
div#e14             { /* Public car Parking is av... */
	position        : absolute;
	left            : 518.25pt;
	top             : 222.00pt;
	width           : 192.75pt;
	height          :  19.50pt;
	}
div#e13             { /* Beside the Station House... */
	position        : absolute;
	left            : 518.25pt;
	top             : 249.75pt;
	width           : 207.00pt;
	height          : 124.50pt;
	}
div#e12             { /* Public toilets are avail... */
	position        : absolute;
	left            : 519.75pt;
	top             : 363.75pt;
	width           : 182.25pt;
	height          :  23.25pt;
	}
div#e11             { /* In Supervalue, on The Sq... */
	position        : absolute;
	left            : 519.00pt;
	top             : 385.50pt;
	width           : 195.75pt;
	height          : 100.50pt;
	}
span#e10            { /* clifden_10k_new_20120040... */
	background      : transparent url(clifden_10k_new_2012004005.jpg) no-repeat top left;
	position        : absolute;
	left            : 250.50pt;
	top             : 245.25pt;
	width           : 255.00pt;
	height          : 222.75pt;
	}
img#e9              { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 183.75pt;
	top             : 513.00pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
img#e8              { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 538.50pt;
	top             : 516.00pt;
	width           :  15.00pt;
	height          :  14.25pt;
	}
img#e7              { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            : 355.50pt;
	top             : 512.25pt;
	width           :  15.00pt;
	height          :  15.00pt;
	}
img#e6              { /* clifden_10k_new_20120040... */
	position        : absolute;
	left            :  18.00pt;
	top             : 512.25pt;
	width           :  14.25pt;
	height          :  14.25pt;
	}
div#e5              { /* Categories */
	position        : absolute;
	left            :  37.50pt;
	top             : 513.75pt;
	width           :  68.25pt;
	height          :  15.00pt;
	}
div#e4              { /* Official Campsite  */
	position        : absolute;
	left            : 201.75pt;
	top             : 515.25pt;
	width           : 115.50pt;
	height          :  26.25pt;
	}
div#e3              { /* Race Route */
	position        : absolute;
	left            : 374.25pt;
	top             : 515.25pt;
	width           :  71.25pt;
	height          :  15.00pt;
	}
div#e2              { /* Race Results  */
	position        : absolute;
	left            : 561.75pt;
	top             : 516.75pt;
	width           :  79.50pt;
	height          :  15.00pt;
	}
div#e1              { /* 2011 */
	position        : absolute;
	left            : 255.75pt;
	top             : 450.00pt;
	width           :  43.50pt;
	height          :  15.00pt;
	}
body#page           { /* Page Body */
	background-color: #4d54d8;
	overflow        : scroll;
	}



/*--- EndOfFile ---*/
