/*--- Avanquest WebEasy Page Style ---*/


.cc09               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #cc0033;
	}
.cc10               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #ff5b85;
	}
.cc11               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   0.75pt solid #cc0033;
	}
div#e35             { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 154.50pt;
	top             :  17.25pt;
	width           : 342.00pt;
	height          :  46.50pt;
	}
div#e34             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          :  99.00pt;
	}
div#e33             { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 162.00pt;
	top             :  24.75pt;
	width           : 342.00pt;
	height          :  46.50pt;
	}
div#e32             {
	background-color: #cc0033;
	position        : absolute;
	left            : 127.50pt;
	top             :  50.25pt;
	width           :  18.75pt;
	height          :  18.75pt;
	}
div#e31             {
	background-color: #ff5b85;
	position        : absolute;
	left            : 130.50pt;
	top             :  31.50pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e30             {
	position        : absolute;
	left            : 131.25pt;
	top             :  13.50pt;
	width           :   6.75pt;
	height          :   6.75pt;
	}
span#e29            { /* images/clifden_lifeboat_... */
	border          :   0.00pt none #cc0033;
	background      : transparent url(images/clifden_lifeboat_10k_website002004.jpg) no-repeat top left;
	position        : absolute;
	left            : 616.50pt;
	top             :  21.75pt;
	width           :   0.75pt;
	height          :  48.00pt;
	}
address#e28         { /* info@clifden10k.com */
	text-align      : left;
	position        : absolute;
	left            : 624.75pt;
	top             :  18.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
address#e27         { /* 00 353 87 6271288 */
	text-align      : left;
	position        : absolute;
	left            : 619.50pt;
	top             :  48.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
div#e26             {
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             :  78.00pt;
	width           : 525.00pt;
	height          :  21.00pt;
	}
div#e25             { /* Home */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 111.00pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e24             { /* About Us */
	color           : #cc0033;
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 198.75pt;
	top             :  78.75pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
a#a24               { /* About Us */
	color           : #cc0033;
	}
div#e23             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 316.50pt;
	top             :  82.50pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e22             { /* Race Categories */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 432.00pt;
	top             :  81.75pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e21             { /* Contact Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 537.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e20             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 195.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e19             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 302.25pt;
	top             :  79.50pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e18             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 408.00pt;
	top             :  79.50pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e17             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 529.50pt;
	top             :  78.75pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e16             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             : 231.75pt;
	width           : 525.00pt;
	height          : 223.50pt;
	}
div#e15             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 109.50pt;
	top             : 456.00pt;
	width           : 527.25pt;
	height          : 120.00pt;
	}
div#e14             { /* Race Day */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 122.25pt;
	top             : 465.75pt;
	width           : 165.00pt;
	height          :  15.00pt;
	}
h5#e13              { /* Race Route */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 298.50pt;
	top             : 465.00pt;
	width           : 157.50pt;
	height          :  15.00pt;
	}
div#e12             { /* Registration will take p... */
	text-align      : left;
	position        : absolute;
	left            : 123.00pt;
	top             : 489.00pt;
	width           : 154.50pt;
	height          :  74.25pt;
	}
div#e11             { /* The race starts at the C... */
	text-align      : left;
	position        : absolute;
	left            : 296.25pt;
	top             : 490.50pt;
	width           : 154.50pt;
	height          :  66.00pt;
	}
div#e10             { /* For more information, co... */
	text-align      : left;
	position        : absolute;
	left            : 469.50pt;
	top             : 490.50pt;
	width           : 154.50pt;
	height          :  59.25pt;
	}
h4#e9               { /* Background */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 116.25pt;
	top             : 238.50pt;
	width           : 346.50pt;
	height          :  15.00pt;
	}
div#e8              { /* The inaugural Clifden Li... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            : 121.50pt;
	top             : 261.00pt;
	width           : 331.50pt;
	height          : 205.50pt;
	}
div#e7              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	text-align      : left;
	position        : absolute;
	left            : 478.50pt;
	top             : 231.75pt;
	width           : 159.00pt;
	height          : 223.50pt;
	}
span#e6             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website002003.jpg) no-repeat top left;
	position        : absolute;
	left            : 481.50pt;
	top             : 242.25pt;
	width           : 151.50pt;
	height          : 159.00pt;
	}
div#e5              { /* Mickey Mullen 2004 */
	text-align      : center;
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 483.75pt;
	top             : 412.50pt;
	width           : 142.50pt;
	height          :  13.50pt;
	}
span#e4             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website002002.jpg) no-repeat top left;
	position        : absolute;
	left            : 111.00pt;
	top             :  99.00pt;
	width           : 525.75pt;
	height          : 133.50pt;
	}
h1#e3               { /* Do you have what it take... */
	color           : #000000;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 129.75pt;
	top             : 201.75pt;
	width           : 498.75pt;
	height          :  29.25pt;
	}
img#e2              { /* images/clifden_lifeboat_... */
	position        : absolute;
	left            : 555.00pt;
	top             :  18.75pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
div#e1              { /* Contact us */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 474.00pt;
	top             : 465.75pt;
	width           : 157.50pt;
	height          :  15.00pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/clifden_lifeboat_10k_website002b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
