/*--- Avanquest WebEasy Page Style ---*/


.cc50               { /* Common */
	font            : bold 14pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc51               { /* Common */
	border          :   0.00pt none #0000ff;
	}
.cc52               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #333333;
	}
h5#e30              {
	font            : 1pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  99.75pt;
	top             :  43.50pt;
	width           :  24.75pt;
	height          :   3.00pt;
	}
span#e29            { /* clifden_lifeboat_10k_web... */
	clip            : rect(0.00pt,23.25pt,10.50pt,0.00pt);
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011001014.gif) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           :  23.25pt;
	height          :  10.50pt;
	}
h2#e28              {
	font            : 3pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            : 195.00pt;
	top             : 189.75pt;
	width           :  84.75pt;
	height          :   6.75pt;
	}
span#e27            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011001013.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 105.00pt;
	height          : 134.25pt;
	}
h4#e26              {
	font            : bold 18pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	text-align      : left;
	position        : absolute;
	left            : 207.00pt;
	top             : 163.50pt;
	width           : 128.25pt;
	height          :  24.00pt;
	}
span#e25            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010012.jpg) no-repeat top left;
	position        : absolute;
	left            : 105.75pt;
	top             :   0.75pt;
	width           : 639.75pt;
	height          : 132.00pt;
	}
h4#e24              { /* Race Reports and Results... */
	font            : bold 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #800000;
	text-align      : left;
	position        : absolute;
	left            : 219.00pt;
	top             : 174.00pt;
	width           : 294.75pt;
	height          :  50.25pt;
	}
div#e23             { /* 2010 Race Report  */
	position        : absolute;
	left            :  44.25pt;
	top             : 252.75pt;
	width           : 168.00pt;
	height          :  42.75pt;
	}
div#e22             { /* 2009 Race Report\ */
	position        : absolute;
	left            :  72.00pt;
	top             : 286.50pt;
	width           : 177.00pt;
	height          :  35.25pt;
	}
div#e21             { /* 2008 Race Report */
	position        : absolute;
	left            : 102.75pt;
	top             : 321.00pt;
	width           : 168.75pt;
	height          :  36.75pt;
	}
span#e20            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010011.gif) no-repeat top left;
	position        : absolute;
	left            :   6.00pt;
	top             : 138.00pt;
	width           :  52.50pt;
	height          :  21.00pt;
	}
span#e19            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010010.gif) no-repeat top left;
	position        : absolute;
	left            :  69.00pt;
	top             : 138.00pt;
	width           :  57.75pt;
	height          :  20.25pt;
	}
span#e18            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010009.gif) no-repeat top left;
	position        : absolute;
	left            : 278.25pt;
	top             : 138.75pt;
	width           :  58.50pt;
	height          :  21.00pt;
	}
span#e17            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010008.gif) no-repeat top left;
	position        : absolute;
	left            : 347.25pt;
	top             : 138.75pt;
	width           :  53.25pt;
	height          :  21.00pt;
	}
span#e16            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010007.gif) no-repeat top left;
	position        : absolute;
	left            : 410.25pt;
	top             : 139.50pt;
	width           :  40.50pt;
	height          :  19.50pt;
	}
div#e15             { /* &nbsp;&nbsp;Home  */
	position        : absolute;
	left            :   6.00pt;
	top             : 138.00pt;
	width           :  53.25pt;
	height          :  21.00pt;
	}
div#e14             { /* &nbsp;Background */
	position        : absolute;
	left            :  70.50pt;
	top             : 136.50pt;
	width           :  55.50pt;
	height          :  24.75pt;
	}
span#e13            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010006.gif) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             : 139.50pt;
	width           :  48.00pt;
	height          :  20.25pt;
	}
div#e12             { /* &nbsp;&nbsp;Categories  */
	position        : absolute;
	left            : 140.25pt;
	top             : 138.75pt;
	width           :  48.00pt;
	height          :  26.25pt;
	}
span#e11            { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010005.gif) no-repeat top left;
	position        : absolute;
	left            : 204.75pt;
	top             : 139.50pt;
	width           :  63.75pt;
	height          :  21.00pt;
	}
div#e10             { /* On Race Day */
	position        : absolute;
	left            : 204.00pt;
	top             : 139.50pt;
	width           :  63.75pt;
	height          :  19.50pt;
	}
div#e9              { /* Race Reports */
	position        : absolute;
	left            : 278.25pt;
	top             : 138.00pt;
	width           :  58.50pt;
	height          :  22.50pt;
	}
div#e8              { /* Contact Us */
	position        : absolute;
	left            : 348.00pt;
	top             : 138.75pt;
	width           :  52.50pt;
	height          :  21.00pt;
	}
div#e7              { /* Photos */
	position        : absolute;
	left            : 411.00pt;
	top             : 138.00pt;
	width           :  39.00pt;
	height          :  21.00pt;
	}
div#e6              { /* 2011 Race Report */
	position        : absolute;
	left            :  14.25pt;
	top             : 220.50pt;
	width           : 162.75pt;
	height          :  21.75pt;
	}
span#e5             { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010004.jpg) no-repeat top left;
	position        : absolute;
	left            : 419.25pt;
	top             : 282.00pt;
	width           : 254.25pt;
	height          : 259.50pt;
	}
span#e4             { /* 6137555653_8d94a51235_m%... */
	background      : transparent url(6137555653_8d94a51235_m%20-%20copy.jpg) no-repeat top left;
	position        : absolute;
	left            : 527.25pt;
	top             : 156.00pt;
	width           : 180.00pt;
	height          :  99.00pt;
	}
span#e3             { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010003.jpg) no-repeat top left;
	position        : absolute;
	left            :  14.25pt;
	top             : 388.50pt;
	width           : 168.00pt;
	height          : 173.25pt;
	}
span#e2             { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010002.jpg) no-repeat top left;
	position        : absolute;
	left            : 253.50pt;
	top             : 391.50pt;
	width           : 111.75pt;
	height          : 168.75pt;
	}
span#e1             { /* clifden_lifeboat_10k_web... */
	background      : transparent url(clifden_lifeboat_10k_website_final_may_2011010001.jpg) no-repeat top left;
	position        : absolute;
	left            : 262.50pt;
	top             : 213.00pt;
	width           : 139.50pt;
	height          : 145.50pt;
	}
body#page           { /* Page Body */
	background-image: url(texture-3.jpg);
	overflow        : auto;
	}



/*--- EndOfFile ---*/
