/*--- Avanquest WebEasy Page Style ---*/


.cc19               { /* Common */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #333333;
	}
.cc20               { /* Common */
	font            : bold 12pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	}
.cc21               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #ff5b85;
	}
.cc22               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   0.75pt solid #cc0033;
	}
.cc23               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #cc0033;
	}
span#e39            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website006005.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  99.75pt;
	width           : 525.00pt;
	height          : 116.25pt;
	}
address#e38         { /* {enter phone} */
	text-align      : left;
	position        : absolute;
	left            : 502.50pt;
	top             :  14.25pt;
	width           : 120.00pt;
	height          :  12.75pt;
	}
address#e37         { /* {enter fax} */
	text-align      : left;
	position        : absolute;
	left            : 502.50pt;
	top             :  26.25pt;
	width           : 120.00pt;
	height          :  12.75pt;
	}
address#e36         { /* {your@address.here} */
	text-align      : left;
	position        : absolute;
	left            : 502.50pt;
	top             :  38.25pt;
	width           : 120.00pt;
	height          :  12.75pt;
	}
div#e35             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 111.00pt;
	top             : 461.25pt;
	width           : 526.50pt;
	height          : 114.75pt;
	}
div#e34             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 111.00pt;
	top             : 228.75pt;
	width           : 527.25pt;
	height          : 233.25pt;
	}
div#e33             { /* Race Day */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 125.25pt;
	top             : 472.50pt;
	width           : 165.00pt;
	height          :  15.00pt;
	}
h5#e32              { /* Official Campsite */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 304.50pt;
	top             : 474.00pt;
	width           : 157.50pt;
	height          :  15.75pt;
	}
div#e31             { /* &nbsp;\ \\ \Race start a... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 120.00pt;
	top             : 234.75pt;
	width           : 338.25pt;
	height          : 140.25pt;
	}
div#e30             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 475.50pt;
	top             : 229.50pt;
	width           : 161.25pt;
	height          : 231.75pt;
	}
span#e29            { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website006004.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  99.00pt;
	width           : 528.00pt;
	height          : 129.75pt;
	}
h1#e28              { /* Do you have what it take... */
	color           : #000000;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 126.75pt;
	top             : 188.25pt;
	width           : 498.75pt;
	height          :  29.25pt;
	}
h4#e27              { /* Race Route */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 117.75pt;
	top             : 234.75pt;
	width           : 346.50pt;
	height          :  15.00pt;
	}
div#e26             { /* You must give your race ... */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 120.75pt;
	top             : 374.25pt;
	width           : 342.75pt;
	height          :  26.25pt;
	}
div#e25             { /* The route is accuratly m... */
	position        : absolute;
	left            : 122.25pt;
	top             : 399.75pt;
	width           : 354.75pt;
	height          :  69.75pt;
	}
div#e24             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 490.50pt;
	top             : 480.00pt;
	width           : 137.25pt;
	height          :  63.00pt;
	}
div#e23             { /* Race Route Map */
	position        : absolute;
	left            : 505.50pt;
	top             : 495.75pt;
	width           : 113.25pt;
	height          :  31.50pt;
	}
div#e22             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          :  99.00pt;
	}
div#e21             { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 162.00pt;
	top             :  24.75pt;
	width           : 342.00pt;
	height          :  46.50pt;
	}
div#e20             {
	background-color: #ff5b85;
	position        : absolute;
	left            : 129.00pt;
	top             :  24.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e19             {
	position        : absolute;
	left            : 131.25pt;
	top             :  13.50pt;
	width           :   6.75pt;
	height          :   6.75pt;
	}
div#e18             {
	background-color: #cc0033;
	position        : absolute;
	left            : 125.25pt;
	top             :  39.00pt;
	width           :  18.75pt;
	height          :  18.75pt;
	}
address#e17         { /* info@clifden10k.com */
	text-align      : left;
	position        : absolute;
	left            : 624.75pt;
	top             :  18.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
address#e16         { /* 00 353 87 6271288 */
	text-align      : left;
	position        : absolute;
	left            : 618.75pt;
	top             :  50.25pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
div#e15             {
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             :  78.00pt;
	width           : 525.00pt;
	height          :  21.00pt;
	}
div#e14             { /* Home */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 117.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e13             { /* About Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 222.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e12             { /* Race Day */
	color           : #ffffff;
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 327.00pt;
	top             :  81.75pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
a#a12               { /* Race Day */
	color           : #ffffff;
	}
div#e11             { /* Race Categories */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 432.75pt;
	top             :  81.75pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e10             { /* Contact Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 537.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e9              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 207.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e8              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 312.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e7              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 417.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e6              { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 522.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
span#e5             { /* images/clifden_lifeboat_... */
	border          :   0.00pt none #cc0033;
	background      : transparent url(images/clifden_lifeboat_10k_website006003.jpg) no-repeat top left;
	position        : absolute;
	left            : 615.75pt;
	top             :  18.75pt;
	width           :   0.75pt;
	height          :  48.00pt;
	}
img#e4              { /* images/clifden_lifeboat_... */
	position        : absolute;
	left            : 554.25pt;
	top             :  20.25pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
span#e3             { /* images/clifden_lifeboat_... */
	background      : transparent url(images/clifden_lifeboat_10k_website006001.jpg) no-repeat top left;
	position        : absolute;
	left            : 498.00pt;
	top             : 236.25pt;
	width           : 125.25pt;
	height          : 218.25pt;
	}
div#e2              { /* Registration will take p... */
	text-align      : left;
	position        : absolute;
	left            : 122.25pt;
	top             : 490.50pt;
	width           : 154.50pt;
	height          :  74.25pt;
	}
div#e1              { /* Clifden Camping and Cara... */
	text-align      : left;
	position        : absolute;
	left            : 300.75pt;
	top             : 493.50pt;
	width           : 154.50pt;
	height          :  38.25pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/clifden_lifeboat_10k_website006b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
