/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc02               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc03               { /* Common */
	font            : 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc04               { /* Common */
	font            : bold 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc05               { /* Common */
	font            : 18pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0000;
	text-align      : center;
	}
div#e27             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 402.00pt;
	top             : 204.75pt;
	width           : 454.50pt;
	height          : 456.00pt;
	}
div#e26             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 705.00pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e25             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 618.00pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e24             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 531.00pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e23             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 444.00pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e22             { /* Home */
	color           : #0099cc;
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 356.25pt;
	top             : 179.25pt;
	width           :  88.50pt;
	height          :  19.50pt;
	}
a#a22               { /* Home */
	color           : #0099cc;
	}
div#e21             { /* About Us */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 448.50pt;
	top             : 180.75pt;
	width           :  82.50pt;
	height          :  18.75pt;
	}
div#e20             { /* Race Day */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 531.75pt;
	top             : 180.75pt;
	width           :  86.25pt;
	height          :  18.75pt;
	}
div#e19             { /* Race Categories */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 618.75pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  18.75pt;
	}
div#e18             { /* Contact */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 705.75pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e17             { /* We have moved to a new m... */
	font            : 24pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #3300ff;
	text-align      : center;
	position        : absolute;
	left            : 426.75pt;
	top             : 216.75pt;
	width           : 411.00pt;
	height          : 144.75pt;
	}
span#e16            { /* images/website_201700100... */
	background      : transparent url(images/website_2017001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  12.75pt;
	top             :  12.00pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e15             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
div#e14             { /* Do you have what it take... */
	position        : absolute;
	left            : 671.25pt;
	top             : 140.25pt;
	width           : 228.75pt;
	height          :  45.75pt;
	}
img#e13             { /* images/website_201700100... */
	position        : absolute;
	left            :  15.00pt;
	top             : 541.50pt;
	width           : 351.75pt;
	height          : 120.75pt;
	}
h4#e12              { /* This website is kindly s... */
	color           : #0099cc;
	padding-top     :  12.00pt;
	position        : absolute;
	left            :  24.00pt;
	top             : 497.25pt;
	width           : 367.50pt;
	height          :  35.25pt;
	}
div#e11             { /* &nbsp;Accurately measure... */
	position        : absolute;
	left            : 453.75pt;
	top             : 404.25pt;
	width           : 375.00pt;
	height          :  63.75pt;
	}
div#e10             { /* Clifden.  */
	position        : absolute;
	left            : 294.75pt;
	top             : 208.50pt;
	width           : 105.75pt;
	height          :  30.00pt;
	}
div#e9              { /* &nbsp;Enter online */
	position        : absolute;
	left            : 537.75pt;
	top             : 374.25pt;
	width           : 192.75pt;
	height          :  45.00pt;
	}
img#e8              { /* images/website_201700100... */
	position        : absolute;
	left            :  16.50pt;
	top             : 206.25pt;
	width           : 385.50pt;
	height          : 288.00pt;
	}
div#e7              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 270.00pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e6              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 183.75pt;
	top             : 179.25pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
span#e5             { /* images/website_201700100... */
	background      : transparent url(images/website_2017001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 367.50pt;
	top             : 474.75pt;
	width           : 115.50pt;
	height          : 176.25pt;
	}
span#e4             { /* images/6137828765_9fbae8... */
	background      : transparent url(images/6137828765_9fbae8ef26_m.jpg) no-repeat top left;
	position        : absolute;
	left            : 753.75pt;
	top             : 465.00pt;
	width           : 103.50pt;
	height          : 180.00pt;
	}
span#e3             { /* images/website_201700100... */
	background      : transparent url(images/website_2017001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 481.50pt;
	top             : 457.50pt;
	width           : 274.50pt;
	height          : 198.00pt;
	}
img#e2              { /* images/website_201700100... */
	position        : absolute;
	left            : 755.25pt;
	top             :   8.25pt;
	width           :  50.25pt;
	height          :  50.25pt;
	}
img#e1              { /* images/website_201700100... */
	position        : absolute;
	left            : 819.00pt;
	top             :  10.50pt;
	width           :  51.00pt;
	height          :  51.00pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
