/*--- Avanquest WebEasy Page Style ---*/


.cc22               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #cc0033;
	}
.cc23               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #ff5b85;
	}
.cc24               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	border          :   0.75pt solid #cc0033;
	}
.cc25               { /* Common */
	font            : bold 12pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	}
div#e38             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          :  99.00pt;
	}
div#e37             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             : 436.50pt;
	width           : 525.00pt;
	height          : 123.00pt;
	}
div#e36             {
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #333333;
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             : 216.00pt;
	width           : 525.00pt;
	height          : 223.50pt;
	}
div#e35             {
	text-align      : left;
	position        : absolute;
	left            : 110.25pt;
	top             :  78.00pt;
	width           : 525.00pt;
	height          :  21.00pt;
	}
div#e34             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 476.25pt;
	top             : 216.00pt;
	width           : 159.00pt;
	height          : 223.50pt;
	}
div#e33             {
	background-color: #cc0033;
	position        : absolute;
	left            : 125.25pt;
	top             :  39.00pt;
	width           :  18.75pt;
	height          :  18.75pt;
	}
div#e32             {
	background-color: #ff5b85;
	position        : absolute;
	left            : 129.00pt;
	top             :  24.00pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e31             {
	position        : absolute;
	left            : 131.25pt;
	top             :  13.50pt;
	width           :   6.75pt;
	height          :   6.75pt;
	}
span#e30            { /* images/solutions006004.j... */
	border          :   0.00pt none #cc0033;
	background      : transparent url(images/solutions006004.jpg) no-repeat top left;
	position        : absolute;
	left            : 617.25pt;
	top             :  18.75pt;
	width           :   0.75pt;
	height          :  48.00pt;
	}
div#e29             { /* Home */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 117.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e28             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 207.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e27             { /* About Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 222.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e26             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 312.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e25             { /* Race Day */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 327.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e24             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 417.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e23             { /* Race Categories */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 432.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  11.25pt;
	}
div#e22             { /* | */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 522.75pt;
	top             :  78.00pt;
	width           :  12.00pt;
	height          :  14.25pt;
	}
div#e21             { /* Contact Us */
	padding-top     :   5.25pt;
	position        : absolute;
	left            : 537.75pt;
	top             :  78.00pt;
	width           :  87.00pt;
	height          :  14.25pt;
	}
div#e20             { /* Runners: \ \Trophies for... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 122.25pt;
	top             : 235.50pt;
	width           : 325.50pt;
	height          :  98.25pt;
	}
div#e19             { /* Families: 2 adults and c... */
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 315.75pt;
	top             : 318.00pt;
	width           : 309.75pt;
	height          :  69.75pt;
	}
img#e18             { /* images/solutions006003.j... */
	border          :   0.75pt solid #ececec;
	background-color: transparent;
	position        : absolute;
	left            : 474.00pt;
	top             : 225.00pt;
	width           : 145.50pt;
	height          :  90.75pt;
	}
div#e17             {
	text-align      : center;
	padding-top     :   8.25pt;
	position        : absolute;
	left            : 483.00pt;
	top             : 393.75pt;
	width           : 142.50pt;
	height          :   7.50pt;
	}
div#e16             { /* Race Day */
	text-align      : left;
	background-color: transparent;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 120.75pt;
	top             : 450.75pt;
	width           : 165.00pt;
	height          :  15.00pt;
	}
h5#e15              { /* Official Campsite */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 296.25pt;
	top             : 450.00pt;
	width           : 157.50pt;
	height          :  15.00pt;
	}
h4#e14              { /* Race Categories */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 125.25pt;
	top             : 220.50pt;
	width           : 346.50pt;
	height          :  15.00pt;
	}
span#e13            { /* images/solutions006002.j... */
	background      : transparent url(images/solutions006002.jpg) no-repeat top left;
	position        : absolute;
	left            : 110.25pt;
	top             :  96.00pt;
	width           : 524.25pt;
	height          : 123.00pt;
	}
h1#e12              { /* Do you have what it take... */
	color           : #000000;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 126.75pt;
	top             : 188.25pt;
	width           : 498.75pt;
	height          :  29.25pt;
	}
div#e11             {
	position        : absolute;
	left            : 417.00pt;
	top             : 319.50pt;
	width           :  12.00pt;
	height          :  12.00pt;
	}
div#e10             { /* Trophy for anyone who ca... */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #cc0033;
	text-align      : center;
	position        : absolute;
	left            : 310.50pt;
	top             : 381.00pt;
	width           : 297.75pt;
	height          :  42.75pt;
	}
span#e9             { /* images/309811_2859607714... */
	background      : transparent url(images/309811_285960771430316_229348677091526_1191839_79568114_n.jpg) no-repeat top left;
	position        : absolute;
	left            : 123.00pt;
	top             : 338.25pt;
	width           : 150.00pt;
	height          :  99.00pt;
	}
img#e8              { /* images/solutions001006.j... */
	position        : absolute;
	left            : 554.25pt;
	top             :  20.25pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
address#e7          { /* info@clifden10k.com */
	text-align      : left;
	position        : absolute;
	left            : 624.75pt;
	top             :  18.75pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
address#e6          { /* 00 353 87 6271288 */
	text-align      : left;
	position        : absolute;
	left            : 621.75pt;
	top             :  49.50pt;
	width           : 120.00pt;
	height          :  18.75pt;
	}
div#e5              { /* Clifden Lifeboat 10k Run... */
	padding-top     :  11.25pt;
	position        : absolute;
	left            : 165.75pt;
	top             :  18.00pt;
	width           : 342.00pt;
	height          :  46.50pt;
	}
div#e4              { /* Registration will take p... */
	text-align      : left;
	position        : absolute;
	left            : 117.75pt;
	top             : 471.75pt;
	width           : 154.50pt;
	height          :  74.25pt;
	}
div#e3              { /* Shanaheever Campsite is ... */
	text-align      : left;
	position        : absolute;
	left            : 294.00pt;
	top             : 477.00pt;
	width           : 154.50pt;
	height          :  56.25pt;
	}
div#e2              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 490.50pt;
	top             : 463.50pt;
	width           : 137.25pt;
	height          :  63.00pt;
	}
a#a2                {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
div#e1              { /* Race Route Map */
	position        : absolute;
	left            : 510.75pt;
	top             : 476.25pt;
	width           : 113.25pt;
	height          :  31.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/solutions006b01.jpg);
	position        : relative;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
