/*--- Avanquest WebEasy Page Style ---*/


.cc30               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc31               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc32               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0099cc;
	}
.cc33               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc34               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0033;
	}
.cc35               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc36               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e40             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 306.00pt;
	top             : 206.25pt;
	width           : 503.25pt;
	height          : 318.75pt;
	}
span#e39            { /* images/website_201400201... */
	background      : transparent url(images/website_2014002010.jpg) no-repeat top left;
	position        : absolute;
	left            : 754.50pt;
	top             : 549.75pt;
	width           :  55.50pt;
	height          :  67.50pt;
	}
div#e38             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 700.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
span#e37            { /* images/website_201400400... */
	clip            : rect(0.00pt,21.00pt,10.50pt,0.00pt);
	background      : transparent url(images/website_2014004008.jpg) no-repeat top left;
	position        : absolute;
	left            : 680.25pt;
	top             : 206.25pt;
	width           :  21.00pt;
	height          :  10.50pt;
	}
div#e36             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
span#e35            { /* images/website_201400101... */
	clip            : rect(0.00pt,21.00pt,10.50pt,0.00pt);
	background      : transparent url(images/website_2014001010.jpg) no-repeat top left;
	position        : absolute;
	left            : 507.75pt;
	top             : 207.00pt;
	width           :  21.00pt;
	height          :  10.50pt;
	}
div#e34             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
a#a34               {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	}
span#e33            { /* images/website_201400400... */
	clip            : rect(0.00pt,21.00pt,11.25pt,0.00pt);
	background      : transparent url(images/website_2014004006.jpg) no-repeat top left;
	position        : absolute;
	left            : 420.00pt;
	top             : 207.00pt;
	width           :  21.00pt;
	height          :  11.25pt;
	}
div#e32             { /* Home */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e31             { /* About Us */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e30             { /* Clifden Campsite */
	color           : #0099cc;
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 613.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
a#a30               { /* Clifden Campsite */
	color           : #0099cc;
	}
div#e29             { /* Contact */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 702.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
h4#e28              { /* Clifden Camping and Cara... */
	color           : #0099cc;
	padding-top     :  12.00pt;
	position        : absolute;
	left            : 317.25pt;
	top             : 216.00pt;
	width           : 372.75pt;
	height          :  35.25pt;
	}
div#e27             { /* No matter where you stay... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            : 315.75pt;
	top             : 261.75pt;
	width           : 479.25pt;
	height          : 126.00pt;
	}
h5#e26              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 320.25pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
h5#e25              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 597.75pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
span#e24            { /* images/website_201400100... */
	background      : transparent url(images/website_2014001006.jpg) no-repeat top left;
	position        : absolute;
	left            :  12.75pt;
	top             :  11.25pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e23             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
img#e22             { /* images/website_201400100... */
	position        : absolute;
	left            : 756.75pt;
	top             :  10.50pt;
	width           :  45.00pt;
	height          :  45.00pt;
	}
img#e21             { /* images/website_201400100... */
	position        : absolute;
	left            : 813.75pt;
	top             :   9.75pt;
	width           :  47.25pt;
	height          :  47.25pt;
	}
div#e20             { /* Do you have what it take... */
	position        : absolute;
	left            : 672.00pt;
	top             : 144.00pt;
	width           : 228.00pt;
	height          :  45.75pt;
	}
div#e19             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 192.00pt;
	top             : 180.00pt;
	width           : 162.00pt;
	height          :  27.00pt;
	}
div#e18             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 527.25pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e17             { /* Race Day */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 528.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
span#e16            { /* images/website_201400101... */
	clip            : rect(0.00pt,21.00pt,10.50pt,0.00pt);
	background      : transparent url(images/website_2014001010.jpg) no-repeat top left;
	position        : absolute;
	left            : 593.25pt;
	top             : 207.00pt;
	width           :  21.00pt;
	height          :  10.50pt;
	}
span#e15            { /* images/website_201400101... */
	clip            : rect(0.00pt,21.00pt,10.50pt,0.00pt);
	background      : transparent url(images/website_2014001011.jpg) no-repeat top left;
	position        : absolute;
	left            : 766.50pt;
	top             : 206.25pt;
	width           :  21.00pt;
	height          :  10.50pt;
	}
div#e14             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  19.50pt;
	top             : 532.50pt;
	width           : 789.75pt;
	height          : 129.75pt;
	}
div#e13             {
	position        : absolute;
	left            :  69.00pt;
	top             : 555.00pt;
	width           : 166.50pt;
	height          :  15.75pt;
	}
div#e12             {
	position        : absolute;
	left            :  46.50pt;
	top             : 576.75pt;
	width           : 207.75pt;
	height          :  15.75pt;
	}
div#e11             { /* Contact Us */
	position        : absolute;
	left            : 650.25pt;
	top             : 558.00pt;
	width           : 105.75pt;
	height          :  15.75pt;
	}
div#e10             { /* For more information, co... */
	position        : absolute;
	left            : 624.75pt;
	top             : 579.00pt;
	width           : 153.75pt;
	height          :  56.25pt;
	}
div#e9              { /* Enter online  */
	position        : absolute;
	left            : 394.50pt;
	top             : 580.50pt;
	width           : 132.75pt;
	height          :  38.25pt;
	}
div#e8              { /* Back  */
	position        : absolute;
	left            : 758.25pt;
	top             : 216.00pt;
	width           : 105.75pt;
	height          :  29.25pt;
	}
div#e7              { /* Showers with hot water.\... */
	position        : absolute;
	left            : 494.25pt;
	top             : 435.00pt;
	width           : 249.00pt;
	height          : 116.25pt;
	}
span#e6             { /* images/website_201400600... */
	background      : transparent url(images/website_2014006004.jpg) no-repeat top left;
	position        : absolute;
	left            : 309.75pt;
	top             : 369.75pt;
	width           : 182.25pt;
	height          : 144.00pt;
	}
span#e5             { /* images/website_201400600... */
	background      : transparent url(images/website_2014006003.jpg) no-repeat top left;
	position        : absolute;
	left            : 605.25pt;
	top             : 291.00pt;
	width           : 180.75pt;
	height          : 141.00pt;
	}
span#e4             { /* images/website_201400600... */
	background      : transparent url(images/website_2014006002.jpg) no-repeat top left;
	position        : absolute;
	left            :   6.00pt;
	top             : 207.00pt;
	width           : 300.00pt;
	height          : 266.25pt;
	}
span#e3             { /* images/website_201400600... */
	background      : transparent url(images/website_2014006001.jpg) no-repeat top left;
	position        : absolute;
	left            :  85.50pt;
	top             : 180.00pt;
	width           : 107.25pt;
	height          :  39.00pt;
	}
div#e2              { /* Race Categories */
	position        : absolute;
	left            :  52.50pt;
	top             : 555.75pt;
	width           : 105.75pt;
	height          :  33.75pt;
	}
div#e1              { /* Runners, walkers, and te... */
	position        : absolute;
	left            :  54.75pt;
	top             : 581.25pt;
	width           : 144.00pt;
	height          :  73.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
