/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Style */
	color           : #0000FF;
	text-decoration :none;
	}
a:visited           { /* Document Style */
	color           : #800080;
	text-decoration :none;
	}
a:hover             { /* Document Style */
	color           : #FF0000;
	text-decoration :underline;
	}
a:active            { /* Active Links */
	color           : #FF0000;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
p a                 {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
a.navigation:link   {
	text-decoration :none;
	}
a.navigation:visited{
	text-decoration :none;
	}
a.navigation:hover  {
	text-decoration :underline;
	}
table.ct07          { /* Document Style */
	text-align      : center;
	border          :   0.75pt solid black;
	}
table.ct07 caption  { /* Document Style */
	color           : #000000;
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	}
table.ct07 td       { /* Document Style */
	text-align      : right;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 th       { /* Document Style */
	background-color: #c0c0c0;
	text-align      : left;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 .ch07 th { /* Document Style */
	background-color: #c0c0c0;
	text-align      : left;
	border          :   0.75pt solid black;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
.CS1520571020       {
	color           : #000000;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	background-color: #e9e9e9;
	text-align      : center;
	}
.CS1520571021       {
	color           : #000000;
	font            : 8pt 'Arial', Helvetica, sans-serif;
	background-color: #ffffff;
	text-align      : left;
	border          :   0.75pt solid black;
	}
.CS1520571022       {
	color           : #ffffff;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	}
.address,address    {
	color           : #000000;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.citation,cite      {
	font            : italic 10pt 'Arial', Helvetica, sans-serif;
	}
.code,code          {
	font            : 10pt 'Courier New', monospace;
	}
.deco               {
	color           : #ffffff;
	background-color: transparent;
	}
.emphasis,em        {
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	}
.footer             {
	color           : #a0a0a0;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	}
.footer_box         {
	background-color: #c0c0c0;
	}
.form_button        {
	color           : #000000;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	}
.form_input         {
	border          :   0.75pt solid #cccccc;
	}
.form_label         {
	color           : #000000;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.form_legend        {
	color           : #000000;
	font            : 8pt 'Arial', Helvetica, sans-serif;
	}
.form_set           {
	border          :   0.00pt none black;
	}
.form_subscribe_set {
	border          :   0.00pt none black;
	}
.header             {
	font            : bold 20pt 'Arial', Helvetica, sans-serif;
	}
.header_box         {
	background-color: #c0c0c0;
	}
.heading1,h1        {
	font            : 22pt 'Arial', Helvetica, sans-serif;
	}
.heading2,h2        {
	font            : 20pt 'Arial', Helvetica, sans-serif;
	}
.heading3,h3        {
	font            : 18pt 'Arial', Helvetica, sans-serif;
	}
.heading4,h4        {
	font            : 14pt 'Arial', Helvetica, sans-serif;
	}
.heading5,h5        {
	color           : #000000;
	font            : bold 12pt 'Tahoma', cursive;
	}
.heading6,h6        {
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	}
.info               {
	color           : #000000;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.info_box           {
	background-color: #c0c0c0;
	}
.info_tag           {
	color           : #000000;
	font            : bold 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.item               {
	color           : #000000;
	font            : 8pt 'Arial', Helvetica, sans-serif;
	}
.item_box           {
	background-color: #c0c0c0;
	}
.item_tag           {
	color           : #000000;
	font            : italic bold 8pt 'Arial', Helvetica, sans-serif;
	}
.logo               {
	color           : #0099cc;
	background-color: transparent;
	}
.logo_box           {
	background-color: #c0c0c0;
	}
.logo_tag           {
	}
.navigation         {
	color           : #ffffff;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	background-color: transparent;
	text-align      : center;
	}
.navigation a       {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.navigation_box     {
	color           : #0099cc;
	background-color: #0099cc;
	}
.navigation_pin     {
	color           : #6d8d00;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	background-color: #ffffff;
	text-align      : center;
	}
.navigation_pin a   {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.navigation_tag     {
	}
.news               {
	color           : #000000;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.news_box           {
	background-color: #c0c0c0;
	}
.news_tag           {
	color           : #000000;
	font            : bold 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : left;
	}
.page               {
	background-color: #000000;
	}
.page_box           {
	color           : #ffffff;
	background-color: #ffffff;
	}
.page_tag           {
	color           : #6d8d00;
	font            : bold 18pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	}
.panel              {
	background-color: #d0d0d0;
	border          :   0.75pt dotted black;
	}
.panel_box          {
	color           : #ffffff;
	background-color: #ffffff;
	border          :   1.50pt solid black;
	}
.photo              {
	background-color: #c0c0c0;
	border          :   1.50pt solid #ffffff;
	}
.photo_box          {
	background-color: #c0c0c0;
	}
.photo_tag          {
	color           : #000000;
	font            : bold 12pt 'Tahoma', cursive;
	}
.small,small        {
	font            : 8pt 'Arial', Helvetica, sans-serif;
	}


/*--- EndOfFile ---*/
