/*--- Avanquest WebEasy Page Style ---*/


.cc31               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc32               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc33               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0099cc;
	}
.cc34               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc35               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0033;
	}
.cc36               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc37               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
div#e34             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 306.00pt;
	top             : 206.25pt;
	width           : 503.25pt;
	height          : 318.75pt;
	}
span#e33            { /* images/website_201700200... */
	background      : transparent url(images/website_2017002005.jpg) no-repeat top left;
	position        : absolute;
	left            : 754.50pt;
	top             : 549.75pt;
	width           :  55.50pt;
	height          :  67.50pt;
	}
div#e32             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 700.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e31             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e30             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
a#a30               {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	}
div#e29             { /* Home */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e28             { /* About Us */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e27             { /* Clifden Campsite */
	color           : #0099cc;
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 613.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
a#a27               { /* Clifden Campsite */
	color           : #0099cc;
	}
div#e26             { /* Contact */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 702.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
h4#e25              { /* Clifden Camping and Cara... */
	color           : #0099cc;
	padding-top     :  12.00pt;
	position        : absolute;
	left            : 317.25pt;
	top             : 216.00pt;
	width           : 372.75pt;
	height          :  35.25pt;
	}
div#e24             { /* No matter where you stay... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            : 311.25pt;
	top             : 256.50pt;
	width           : 479.25pt;
	height          : 126.00pt;
	}
h5#e23              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 320.25pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
h5#e22              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 597.75pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
span#e21            { /* images/website_201700100... */
	background      : transparent url(images/website_2017001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  11.25pt;
	top             :  13.50pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e20             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
div#e19             { /* Do you have what it take... */
	position        : absolute;
	left            : 672.00pt;
	top             : 144.00pt;
	width           : 228.00pt;
	height          :  45.75pt;
	}
div#e18             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 527.25pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e17             { /* Race Day */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 528.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e16             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  19.50pt;
	top             : 532.50pt;
	width           : 789.75pt;
	height          : 129.75pt;
	}
div#e15             {
	position        : absolute;
	left            :  69.00pt;
	top             : 555.00pt;
	width           : 166.50pt;
	height          :  15.75pt;
	}
div#e14             {
	position        : absolute;
	left            :  46.50pt;
	top             : 576.75pt;
	width           : 207.75pt;
	height          :  15.75pt;
	}
div#e13             { /* Contact Us */
	position        : absolute;
	left            : 650.25pt;
	top             : 558.00pt;
	width           : 105.75pt;
	height          :  15.75pt;
	}
div#e12             { /* For more information, co... */
	position        : absolute;
	left            : 624.75pt;
	top             : 579.00pt;
	width           : 153.75pt;
	height          :  56.25pt;
	}
div#e11             { /* Enter online  */
	position        : absolute;
	left            : 394.50pt;
	top             : 580.50pt;
	width           : 132.75pt;
	height          :  38.25pt;
	}
div#e10             { /* Back  */
	position        : absolute;
	left            : 758.25pt;
	top             : 216.00pt;
	width           : 105.75pt;
	height          :  29.25pt;
	}
div#e9              { /* Showers with hot water.\... */
	position        : absolute;
	left            : 494.25pt;
	top             : 435.00pt;
	width           : 249.00pt;
	height          : 116.25pt;
	}
div#e8              { /* Race Categories */
	position        : absolute;
	left            :  52.50pt;
	top             : 555.75pt;
	width           : 105.75pt;
	height          :  33.75pt;
	}
div#e7              { /* Runners, walkers, and te... */
	position        : absolute;
	left            :  54.75pt;
	top             : 581.25pt;
	width           : 144.00pt;
	height          :  73.50pt;
	}
div#e6              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 192.00pt;
	top             : 180.00pt;
	width           : 162.00pt;
	height          :  27.00pt;
	}
img#e5              { /* images/website_201700100... */
	position        : absolute;
	left            : 755.25pt;
	top             :   8.25pt;
	width           :  50.25pt;
	height          :  50.25pt;
	}
img#e4              { /* images/website_201700100... */
	position        : absolute;
	left            : 819.00pt;
	top             :  10.50pt;
	width           :  51.00pt;
	height          :  51.00pt;
	}
span#e3             { /* images/website_201700600... */
	background      : transparent url(images/website_2017006003.jpg) no-repeat top left;
	position        : absolute;
	left            :   6.00pt;
	top             : 207.00pt;
	width           : 300.00pt;
	height          : 274.50pt;
	}
span#e2             { /* images/website_201700600... */
	background      : transparent url(images/website_2017006002.jpg) no-repeat top left;
	position        : absolute;
	left            : 313.50pt;
	top             : 349.50pt;
	width           : 211.50pt;
	height          : 166.50pt;
	}
span#e1             { /* images/website_201700600... */
	background      : transparent url(images/website_2017006001.jpg) no-repeat top left;
	position        : absolute;
	left            : 606.75pt;
	top             : 287.25pt;
	width           : 188.25pt;
	height          : 146.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
