/*--- Avanquest WebEasy Page Style ---*/


.cc38               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc39               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
div#e26             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 315.00pt;
	top             : 211.50pt;
	width           : 501.75pt;
	height          : 389.25pt;
	}
div#e25             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 614.25pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e24             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 528.00pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e23             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 441.00pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e22             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 354.00pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e21             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 192.75pt;
	top             : 184.50pt;
	width           : 162.00pt;
	height          :  27.00pt;
	}
div#e20             { /* Home */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 354.75pt;
	top             : 185.25pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e19             { /* About Us */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 441.00pt;
	top             : 185.25pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e18             { /* Contact */
	color           : #0099cc;
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 701.25pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
a#a18               { /* Contact */
	color           : #0099cc;
	}
h4#e17              { /* Contact */
	color           : #0099cc;
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 366.75pt;
	top             : 236.25pt;
	width           : 230.25pt;
	height          :  30.00pt;
	}
address#e16         { /* Phone/Text: */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :   8.25pt;
	position        : absolute;
	left            : 366.75pt;
	top             : 267.00pt;
	width           : 225.00pt;
	height          :  21.75pt;
	}
address#e15         { /* E-mail: */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :   9.00pt;
	position        : absolute;
	left            : 367.50pt;
	top             : 331.50pt;
	width           : 225.00pt;
	height          :  23.25pt;
	}
address#e14         { /* info@clifden10.com */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :  15.00pt;
	position        : absolute;
	left            : 363.75pt;
	top             : 351.00pt;
	width           : 225.00pt;
	height          :  28.50pt;
	}
address#e13         { /* 00 353 87 627 1288 */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :  12.75pt;
	position        : absolute;
	left            : 367.50pt;
	top             : 287.25pt;
	width           : 225.00pt;
	height          :  27.00pt;
	}
h6#e12              { /* Sky Road */
	text-align      : left;
	padding-top     :   0.75pt;
	position        : absolute;
	left            :  24.75pt;
	top             : 606.75pt;
	width           : 337.50pt;
	height          :  11.25pt;
	}
span#e11            { /* images/website_201700100... */
	background      : transparent url(images/website_2017001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  12.75pt;
	top             :  11.25pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e10             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
div#e9              { /* Do you have what it take... */
	position        : absolute;
	left            : 671.25pt;
	top             : 140.25pt;
	width           : 228.75pt;
	height          :  45.75pt;
	}
div#e8              { /* Race Categories */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 614.25pt;
	top             : 186.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e7              { /* Race Day */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 528.00pt;
	top             : 184.50pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
img#e6              { /* images/website_201700100... */
	position        : absolute;
	left            : 755.25pt;
	top             :   8.25pt;
	width           :  50.25pt;
	height          :  50.25pt;
	}
img#e5              { /* images/website_201700100... */
	position        : absolute;
	left            : 819.00pt;
	top             :  10.50pt;
	width           :  51.00pt;
	height          :  51.00pt;
	}
span#e4             { /* images/website_201700700... */
	background      : transparent url(images/website_2017007004.jpg) no-repeat top left;
	position        : absolute;
	left            :  15.75pt;
	top             : 211.50pt;
	width           : 299.25pt;
	height          : 390.75pt;
	}
span#e3             { /* images/website_201700700... */
	background      : transparent url(images/website_2017007003.jpg) no-repeat top left;
	position        : absolute;
	left            : 523.50pt;
	top             : 211.50pt;
	width           : 144.75pt;
	height          : 198.75pt;
	}
span#e2             { /* images/website_201700700... */
	background      : transparent url(images/website_2017007002.jpg) no-repeat top left;
	position        : absolute;
	left            : 684.75pt;
	top             : 211.50pt;
	width           : 116.25pt;
	height          : 198.00pt;
	}
span#e1             { /* images/website_201700700... */
	background      : transparent url(images/website_2017007001.jpg) no-repeat top left;
	position        : absolute;
	left            : 324.75pt;
	top             : 416.25pt;
	width           : 483.00pt;
	height          : 177.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
