/*--- Avanquest WebEasy Page Style ---*/


.cc11               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc12               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc13               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0099cc;
	}
.cc14               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc15               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc16               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
div#e33             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 306.00pt;
	top             : 204.00pt;
	width           : 503.25pt;
	height          : 318.75pt;
	}
span#e32            { /* images/website_201700200... */
	background      : transparent url(images/website_2017002005.jpg) no-repeat top left;
	position        : absolute;
	left            : 754.50pt;
	top             : 549.75pt;
	width           :  55.50pt;
	height          :  67.50pt;
	}
div#e31             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 699.00pt;
	top             : 177.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e30             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 612.00pt;
	top             : 177.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e29             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 438.00pt;
	top             : 177.75pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e28             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 351.75pt;
	top             : 177.75pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e27             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 189.75pt;
	top             : 177.75pt;
	width           : 162.00pt;
	height          :  27.00pt;
	}
div#e26             { /* Home */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 352.50pt;
	top             : 178.50pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e25             { /* About Us */
	padding-top     :   6.00pt;
	position        : absolute;
	left            : 440.25pt;
	top             : 178.50pt;
	width           :  87.00pt;
	height          :  18.75pt;
	}
div#e24             { /* Race Day */
	color           : #0099cc;
	padding-top     :   8.25pt;
	position        : absolute;
	left            : 525.00pt;
	top             : 177.00pt;
	width           :  87.00pt;
	height          :  20.25pt;
	}
a#a24               { /* Race Day */
	color           : #0099cc;
	}
div#e23             { /* Race Categories */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 612.75pt;
	top             : 177.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e22             { /* Contact */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 699.75pt;
	top             : 177.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
h4#e21              {
	padding-top     :  12.00pt;
	position        : absolute;
	left            : 320.25pt;
	top             : 313.50pt;
	width           : 230.25pt;
	height          :  12.75pt;
	}
div#e20             { /* Registration and number ... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            : 321.00pt;
	top             : 249.75pt;
	width           : 477.00pt;
	height          : 231.75pt;
	}
span#e19            { /* images/website_201700300... */
	border          :   0.00pt none #ffffff;
	background      : transparent url(images/website_2017003002.jpg) no-repeat top left;
	position        : absolute;
	left            : 713.25pt;
	top             : 535.50pt;
	width           :  93.75pt;
	height          : 119.25pt;
	}
h5#e18              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 414.75pt;
	top             : 584.25pt;
	width           : 158.25pt;
	height          :  12.75pt;
	}
span#e17            { /* images/website_201700100... */
	background      : transparent url(images/website_2017001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  12.75pt;
	top             :  11.25pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e16             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
div#e15             { /* Do you have what it take... */
	position        : absolute;
	left            : 673.50pt;
	top             : 143.25pt;
	width           : 226.50pt;
	height          :  45.75pt;
	}
h4#e14              { /* Race Day */
	color           : #0099cc;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 319.50pt;
	top             : 216.75pt;
	width           : 230.25pt;
	height          :  24.00pt;
	}
div#e13             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  19.50pt;
	top             : 527.25pt;
	width           : 789.75pt;
	height          : 135.00pt;
	}
div#e12             { /* Race Route  */
	position        : absolute;
	left            :  48.00pt;
	top             : 542.25pt;
	width           : 105.75pt;
	height          :  27.00pt;
	}
div#e11             { /* The race starts at the C... */
	position        : absolute;
	left            :  47.25pt;
	top             : 566.25pt;
	width           : 185.25pt;
	height          :  69.75pt;
	}
div#e10             { /* Official Campsite */
	position        : absolute;
	left            : 306.00pt;
	top             : 542.25pt;
	width           : 105.75pt;
	height          :  23.25pt;
	}
div#e9              { /* Clifden Camping and Cara... */
	position        : absolute;
	left            : 305.25pt;
	top             : 565.50pt;
	width           : 218.25pt;
	height          :  42.75pt;
	}
div#e8              { /* Contact Us */
	position        : absolute;
	left            : 617.25pt;
	top             : 536.25pt;
	width           : 105.75pt;
	height          :  15.75pt;
	}
div#e7              { /* For more information, co... */
	position        : absolute;
	left            : 618.75pt;
	top             : 559.50pt;
	width           : 153.75pt;
	height          :  42.75pt;
	}
div#e6              { /* More...  */
	position        : absolute;
	left            :  49.50pt;
	top             : 633.75pt;
	width           : 105.75pt;
	height          :  24.75pt;
	}
div#e5              { /* More...  */
	position        : absolute;
	left            : 306.75pt;
	top             : 606.75pt;
	width           : 105.75pt;
	height          :  24.75pt;
	}
div#e4              { /* email: info@clifden10k.c... */
	position        : absolute;
	left            : 619.50pt;
	top             : 601.50pt;
	width           : 157.50pt;
	height          :  45.00pt;
	}
img#e3              { /* images/website_201700100... */
	position        : absolute;
	left            : 754.50pt;
	top             :   7.50pt;
	width           :  50.25pt;
	height          :  50.25pt;
	}
img#e2              { /* images/website_201700100... */
	position        : absolute;
	left            : 819.00pt;
	top             :  10.50pt;
	width           :  51.00pt;
	height          :  51.00pt;
	}
span#e1             { /* images/website_201700300... */
	background      : transparent url(images/website_2017003001.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.75pt;
	top             : 204.00pt;
	width           : 287.25pt;
	height          : 318.75pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
