/*--- Avanquest WebEasy Page Style ---*/


.cc17               { /* Common */
	font            : italic 48pt 'Franklin Gothic Demi';
	color           : #0099cc;
	}
.cc18               { /* Common */
	font            : 16pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc19               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0099cc;
	}
.cc20               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : justify;
	}
.cc21               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0066cc;
	}
.cc22               { /* Common */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc23               { /* Common */
	font            : bold 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	}
div#e39             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            : 305.25pt;
	top             : 204.00pt;
	width           : 503.25pt;
	height          : 322.50pt;
	}
span#e38            { /* images/website_201700200... */
	background      : transparent url(images/website_2017002005.jpg) no-repeat top left;
	position        : absolute;
	left            : 754.50pt;
	top             : 549.75pt;
	width           :  55.50pt;
	height          :  67.50pt;
	}
div#e37             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 700.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e36             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e35             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
a#a35               {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	}
div#e34             { /* Home */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 354.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e33             { /* About Us */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 441.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e32             { /* Contact */
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 702.00pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
h4#e31              { /* Race Categories */
	color           : #0099cc;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 318.00pt;
	top             : 225.75pt;
	width           : 230.25pt;
	height          :  24.00pt;
	}
div#e30             { /* Trophies for 1st male an... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 318.75pt;
	top             : 318.75pt;
	width           : 241.50pt;
	height          :  42.75pt;
	}
h5#e29              { /* Runners: */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 320.25pt;
	top             : 297.75pt;
	width           : 188.25pt;
	height          :  15.00pt;
	}
div#e28             { /* Trophies for 1st.  */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	position        : absolute;
	left            : 323.25pt;
	top             : 369.75pt;
	width           : 188.25pt;
	height          :  15.75pt;
	}
h5#e27              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 320.25pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
h5#e26              { /* Walkers and Run/Walkers: */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :   6.00pt;
	position        : absolute;
	left            : 321.00pt;
	top             : 348.75pt;
	width           : 188.25pt;
	height          :  19.50pt;
	}
div#e25             { /* Perpetual shield for 1st... */
	font            : 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : justify;
	position        : absolute;
	left            : 323.25pt;
	top             : 407.25pt;
	width           : 232.50pt;
	height          :  69.75pt;
	}
h5#e24              { /* Teams */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	padding-top     :   6.00pt;
	position        : absolute;
	left            : 322.50pt;
	top             : 385.50pt;
	width           : 188.25pt;
	height          :  19.50pt;
	}
div#e23             { /* Trophy for anyone who ca... */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0033;
	position        : absolute;
	left            : 587.25pt;
	top             : 368.25pt;
	width           : 212.25pt;
	height          :  83.25pt;
	}
h5#e22              { /* more... */
	padding-top     :   2.25pt;
	position        : absolute;
	left            : 597.75pt;
	top             : 576.75pt;
	width           : 188.25pt;
	height          :  12.75pt;
	}
span#e21            { /* images/website_201700100... */
	background      : transparent url(images/website_2017001007.jpg) no-repeat top left;
	position        : absolute;
	left            :  12.75pt;
	top             :  11.25pt;
	width           : 226.50pt;
	height          : 138.75pt;
	}
div#e20             { /* Clifden Lifeboat 10k Run */
	position        : absolute;
	left            : 250.50pt;
	top             :  81.75pt;
	width           : 561.75pt;
	height          :  67.50pt;
	}
div#e19             { /* Do you have what it take... */
	position        : absolute;
	left            : 672.00pt;
	top             : 144.00pt;
	width           : 228.00pt;
	height          :  45.75pt;
	}
div#e18             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #6d8d00;
	text-align      : left;
	position        : absolute;
	left            : 527.25pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  27.00pt;
	}
div#e17             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :  19.50pt;
	top             : 527.25pt;
	width           : 789.75pt;
	height          : 135.00pt;
	}
div#e16             { /* Race Route  */
	position        : absolute;
	left            :  69.00pt;
	top             : 555.00pt;
	width           : 105.75pt;
	height          :  27.00pt;
	}
div#e15             { /* The race starts at the C... */
	position        : absolute;
	left            :  48.00pt;
	top             : 579.00pt;
	width           : 185.25pt;
	height          :  85.50pt;
	}
div#e14             { /* Contact Us */
	position        : absolute;
	left            : 650.25pt;
	top             : 558.00pt;
	width           : 105.75pt;
	height          :  15.75pt;
	}
div#e13             { /* For more information, co... */
	position        : absolute;
	left            : 624.75pt;
	top             : 579.00pt;
	width           : 153.75pt;
	height          :  56.25pt;
	}
div#e12             { /* Race Route Map */
	position        : absolute;
	left            : 372.75pt;
	top             : 580.50pt;
	width           : 135.00pt;
	height          :  40.50pt;
	}
div#e11             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 602.25pt;
	top             : 480.75pt;
	width           : 140.25pt;
	height          :  29.25pt;
	}
div#e10             { /* Entry fee is €20/individ... */
	position        : absolute;
	left            : 324.75pt;
	top             : 482.25pt;
	width           : 231.75pt;
	height          :  45.00pt;
	}
div#e9              { /* Race Day */
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 528.00pt;
	top             : 180.75pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
div#e8              { /* Race Categories */
	color           : #0099cc;
	padding-top     :   6.75pt;
	position        : absolute;
	left            : 613.50pt;
	top             : 180.00pt;
	width           :  87.00pt;
	height          :  19.50pt;
	}
a#a8                { /* Race Categories */
	color           : #0099cc;
	}
div#e7              {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	position        : absolute;
	left            : 192.00pt;
	top             : 180.00pt;
	width           : 162.00pt;
	height          :  27.00pt;
	}
img#e6              { /* images/website_201700100... */
	position        : absolute;
	left            : 755.25pt;
	top             :   8.25pt;
	width           :  50.25pt;
	height          :  50.25pt;
	}
img#e5              { /* images/website_201700100... */
	position        : absolute;
	left            : 819.00pt;
	top             :  10.50pt;
	width           :  51.00pt;
	height          :  51.00pt;
	}
span#e4             { /* images/website_201700400... */
	background      : transparent url(images/website_2017004002.jpg) no-repeat top left;
	position        : absolute;
	left            : 561.75pt;
	top             : 205.50pt;
	width           : 247.50pt;
	height          : 164.25pt;
	}
span#e3             { /* images/website_201700400... */
	background      : transparent url(images/website_2017004001.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             : 207.00pt;
	width           : 306.75pt;
	height          : 318.00pt;
	}
div#e2              { /* View from Sky Road  */
	position        : absolute;
	left            :  54.00pt;
	top             : 497.25pt;
	width           : 140.25pt;
	height          :  30.75pt;
	}
h5#e1               { /* Trophies for 1st, 2nd an... */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	padding-top     :   7.50pt;
	position        : absolute;
	left            : 318.00pt;
	top             : 255.00pt;
	width           : 225.75pt;
	height          :  35.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 675.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #000000;
	text-align      : center;
	}



/*--- EndOfFile ---*/
