.categories {
    .subtitle {
        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }
    
    .image {
        border-radius: 6px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        min-width: 275px;
        min-height: 275px;
        margin: 0 auto;
        background: url('../../images/prices.jpg');
        background-size: cover;
        background-position-x: 28%;

        @media screen and (max-width: 768px) {
            & {
                width: 100%;
            }
        }
    }

    .content {
        .title {
            font-size: 1.3rem;
        }

        .subtitle {
            padding-left: 25px;
            font-size: 1em;

            &.men {
                margin-bottom: 0;
            }

            .best {
                font-weight: bold;
                font-size: 1rem;
                display: inline-block;
                min-width: 75px;
            }
        }

        @media screen and (max-width: 768px) {
            .title {
                font-size: 1rem;
            }

            .subtitle {
                font-size: 0.8rem;
                padding-left: 0;

                .best {
                    font-size: 0.8rem;
                    min-width: 50px;
                }

                &.men, &.woman {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .mdi-currency-eur {
            margin-right: -5px;
            font-size: 14px;
        }
    }
}